[2021-03-22 09:38] geosen commented on #22
Hi @sqjin ! Thank you for this tool! Seems excellent.

I'm also having a subscript out of bounds error. Let me describe the situation below. My samples are Human Bulk RNA-Seq from isolated populations of HSCs (15 samples) and MSCs (7 samples). My gene identifiers are ENSEMBL gene ids with no version number.

library(CellChat)
library(patchwork)
library(edgeR)
options(stringsAsFactors = FALSE)
setw

[2021-03-22 18:46] cswoboda commented on #159
Thanks! Would best practices be creating a single integrated object to control for batch effect across all samples and then split that object into the control and treatment populations do you think? Or is that unnecessary for the level at which cellchat computes interactions?

[2021-03-23 10:53] vravik commented on #154
Dear sqjin,

it works perfectly now. Thank you so much for your help!

[2021-03-23 10:53] #154 closed

[2021-03-23 14:12] sqjin commented on #164
@s849 I am sorry I have no idea on this except for testing it. Can you run the source codes of the function `mergeCellChat` or you can share the object with me to test it?

[2021-03-23 14:16] sqjin commented on #22
@geosen Hi, you should convert ensembl gene id to official gene name before running CellChat.

[2021-03-23 14:36] sqjin commented on #159
@cswoboda To run CellChat's comparison analysis, one needs to first create a single cellchat object for each condition and then merge them for comparison analysis. For the batch effect's concern in single cell analysis, if you have batch corrected data that can be used as input of CellChat, it will be nice since CellChat's analysis is based on the expression level of ligands and receptors. However

[2021-03-23 22:13] vishnums007 commented on #146
Did you solve the error? I am having the same issue. I don't understand the solution @sqjin is suggesting.

[2021-03-23 22:28] vishnums007 commented on #146
Ohk, I tried different dplyr versions.
Finally it worked when I installed the following version.

  | dplyr_1.0.2.tar.gz

[2021-03-24 07:07] sqjin commented on #163
@wyvern114 Hi, you should run computeCommunProb before running computeCommunProbPathway. I am trying to provide a faster version now.

[2021-03-24 09:18] geosen commented on #22
@sqjin Thank you so much for taking the time to answer me! That was the issue!

[2021-03-24 17:49] wht10 opened #165 "Highly Disparate Interaction Strength"
Thank you for creating such a user friendly cell-cell communication tool @sqjin

I am hoping to compare interactions between immune cell types, between two genotypes.

I followed the tutorial for comparing cell chat objects, with the only modification being that for `computeCommunProb(raw.use = T, population.size = T)`.

My control genotype (WT) has an interaction strength that is 400X smaller tha

[2021-03-25 07:35] sqjin commented on #165
@wht10 The highly disparate interaction strength between these two conditions is unexpected. Can you check your input data to see if they are correct?  CellChat requires an input of normalized data (e.g., log-transformation). You can check object1@data.signaling and object2@data.signaling

[2021-03-25 15:58] wht10 commented on #165
Thanks @sqjin

Here is how I constructed the cell chat objects
[code]
Here are the data signaling slots from the subsetted cell chat objects and the original seurat object. It looks like they are all log normalized.
[code]

[2021-03-25 17:26] JKarmanAbbVie opened #166 "No significant interactions in CellChat results"
Hello Authors of CellChat,

First of all, thank you for the fantastic R package. I have a question. I am using the code below on GSE153760 (10x data) and getting a df_net output with 308546 lines, p values ranging 0-0.05 and prob values ranging 1.686783e-18 to 3.691215e-03. I start from a Seurat v3 object I built from the data as deposited in GEO (gse153760_combined_ad). Yet, when I try to run the

[2021-03-25 23:56] QueenieBear opened #167 "function netEmbedding is unable to work"
@sqjin
I am working on CellChat-vignette in your tutorial.
when I run `cellchat <- netEmbedding(cellchat, type = "functional")`, it reports`Error in runUMAP(Similarity, min.dist = 0.3, n.neighbors = k) : Cannot find UMAP, please install through pip (e.g. pip install umap-learn or reticulate::py_install(packages = 'umap-learn')).`

then I find this tutorial to install umap-learn via annaconda(I hav

[2021-03-26 09:42] QueenieBear commented on #167
add info:
it surprisingly works well with `cellchat <- computeNetSimilarity(cellchat, type = "structural")
cellchat <- netEmbedding(cellchat, type = "structural")
cellchat <- netClustering(cellchat, type = "structural")`
but this function still does not work`cellchat <- netEmbedding(cellchat, type = "functional")
Manifold learning of the signaling networks for a single dataset
/Users/yanni_zong/Li

[2021-03-26 09:47] QueenieBear commented on #167
add info:
it surprisingly works well with `cellchat <- computeNetSimilarity(cellchat, type = "structural")
cellchat <- netEmbedding(cellchat, type = "structural")
cellchat <- netClustering(cellchat, type = "structural")`
but this function still does not work`cellchat <- netEmbedding(cellchat, type = `"functional")`
Manifold learning of the signaling networks for a single dataset
/Users/yanni_zong/

[2021-03-26 15:10] sqjin commented on #165
@wht10 These input data look good. Can you set population.size = FALSE and run the analysis again? I do not expect significant changes but let's try to figure out the reason.

[2021-03-27 03:30] wht10 commented on #165
@sqjin
This seems to have fixed it! Thank you!
![image](https://user-images.githubusercontent.com/53011983/112708853-f90de300-8e8a-11eb-9689-a23ff5d58af2.png)

Maybe the abundance change between these major populations didn't interact well with the `population.size=T`.

![image](https://user-images.githubusercontent.com/53011983/112708874-34a8ad00-8e8b-11eb-98c0-70d54516ad33.png)

[2021-03-27 04:20] sqjin commented on #165
@wht10 Looks good. population.size might cause the artifact.

[2021-03-27 17:54] sqjin commented on #166
Hi @JKarmanAbbVie , this is unexpected. I have no idea except for testing your data. You can also run the source codes line by line to figure out the reason.

[2021-03-27 17:57] sqjin commented on #167
@QueenieBear Can you please run the source codes of `netVisual_embedding` to figure out the reason?

[2021-03-28 21:12] JKarmanAbbVie commented on #166
I figured out what my issue was. I was trying to use my own version of CellChatDB and it was not formatted correctly.

[2021-03-28 21:12] #166 closed

[2021-03-29 03:33] phoebee-h commented on #155
Hi,
I've checked the function `subsetCommunication`, which indeed helps! However, I'm not quite sure about the pval colum:
(1) Why it only contains values under 0.05? But in the slot `net`, I can see far more than that?
(2) Why the p-values are not that continuous, which means they seem to categorize in certain intervals?

`net <- subsetCommunication(cellchat, slot.name="net")`

![image](https://u

[2021-03-30 19:12] hooperj opened #168 "re-order RLpairs on bubble plots"
This is a terrific package. It is so smart about signaling, and about visualizations that reduce the HUGE amount of data into intuitive chunks.
This works beautifully

Now I want to reorder the LRpairs (grouping similar patterns together) to make it pretty for publication. I tried using the pairLR.use flag, building a dataframe of LRpairs in the order I wanted. But it returned a plot with the pair

[2021-03-31 00:24] hooperj opened #169 "sources.use causes error in hierarchy plots with netVisual_aggregate"
Similar to the issue closed last week, I want to only see a subset of all my cell types in these hierarchy plots.
This works perfectly:

But when I add a sources.use argument, I get an error message

I just re-installed the package, but the new version did not fix this.
joan
[Notch2OEC.HierPlot.pdf](https://github.com/sqjin/CellChat/files/6233038/Notch2OEC.HierPlot.pdf)

[2021-03-31 07:12] sqjin commented on #168
@hooperj I will look into the codes and try to modify it in next two days.

[2021-03-31 07:15] sqjin commented on #169
@hooperj Can you set `remove.isolate = TRUE` and try it again?

[2021-03-31 13:47] hooperj commented on #169
Still generates the same error message…

Error in ***@***.***) : object 'object' not found

From: sqjin ***@***.***>
Reply-To: sqjin/CellChat ***@***.***>
Date: Wednesday, March 31, 2021 at 1:15 AM
To: sqjin/CellChat ***@***.***>
Cc: "Hooper, Joan" <JOAN.HOOPER@CUANSCHUTZ.EDU>, Mention ***@***.***>
Subject: Re: [sqjin/CellChat] sources.use causes error in hierarchy plots with netVisual_aggregate (

[2021-03-31 22:18] cswoboda commented on #159
Thank you! Apologies one more question before I close this out. You mention in the documentation of computecommunprob that:

"whether consider the proportion of cells in each group across all sequenced cells. Set population.size = FALSE if analyzing sorting-enriched single cells, to remove the potential artifact of population size. Set population.size = TRUE if analyzing unsorted single-cell trans

[2021-04-01 12:01] jv-20 opened #170 "netAnalysis_signalingRole_heatmap : Heatmap/annotation names are duplicated: Relative strength"
Hi @sqjin

A quick question. When drawing two heatmaps together based netAnalysis_signalingRole_heatmap function, the relative strength bar - row annotation is the same for two heatmaps.

I run the following code
[code]
and receive the following error message
[code]
Example shown below
![Picture2](https://user-images.githubusercontent.com/68548237/113290569-bfedcc80-92e9-11eb-8623-5ac9a939ab1d.png

[2021-04-01 21:49] cswoboda commented on #170
Hi! Not the creator, but I think I can help. Have you tried not using draw and just typing out + in?

@sqjin this is likely coming from lines 2382-2391 in the analysis.R documentation. I think its some sort of clashing with the draw function where it attempts to call a certain slot for annotation but you've already generated the heatmaps before hand so it merges the values.

[2021-04-02 05:19] sqjin commented on #170
@jv-20 The row annotation issue is fixed now! The row bar height are the sum of outgoing signaling strength (i.e., communication probabilities) across all cell groups for a pathway.    In the outgoing pattern/heatmap, the relative strength (i.e., the color in the heatmap) is the normalized communication probability sending from one cell group via one pathway. We normalize each row so that the maxi

[2021-04-02 05:19] sqjin commented on #170
@cswoboda Thanks for the help.

[2021-04-02 05:44] sqjin commented on #169
@hooperj Sorry about it. Can you reinstall the package and try it again? I just fixed this issue.

[2021-04-02 08:25] jv-20 commented on #170
Hi @sqjin and @cswoboda

Thanks for the replies. The issue is not resolved for me. I re-installed the package and the rowbars for the two heatmaps are still the same.

I tried using `out + in `without using draw() and still receive the same warning message and the rowbars remains the same between two heatmaps. Please advise.

Thanks

[2021-04-02 17:28] cswoboda commented on #170
Hi @jv-20, sorry that didn't help out! Two things I'd check if I were in your situation to make diagnosing the problem easier, and @sqjin is the expert here so feel free to just wait for their advice.  Note, the warning message is as @sqjin was saying probably unrelated to your error so ignore that.
1. Does the command work normally when not specifying signaling pathways?
2. Would you generate the

[2021-04-03 06:36] sqjin commented on #170
@cswoboda Thanks! You are right. I restore the code now.

[2021-04-03 06:39] sqjin commented on #170
@jv-20 The warning message is fixed now.  After careful thinking, the two row annotation bars should be the same. For one pathway, the total outgoing signaling strength across all cell groups should be the same as the total incoming signaling strength.

[2021-04-04 07:24] HyacintViolet opened #171 "Interaction between distant organs?"
Hi, I wonder if I could do analysis for cell cell communication between distant organs? A related issue might be #53

Specifically, I think I would reduce the ligand-receptor database to only secreted proteins and their cognate receptors, and run CellChat on two organs, for example an organ secreting endocrines, such as pancreas, and another organ receiving the endocrine signal, such as liver.

Fo

[2021-04-04 15:35] sqjin commented on #155
@phoebee-h Sorry, I missed your questions. (1) You can set thresh parameter to include more interactions; (2) We use a simple permutation test, where you can find it in our method section in the paper. This method will produce values like what you were showing.

[2021-04-05 19:14] hooperj commented on #169
I’m not sure if I am re-installing the latest version., I used

And got back

I reinstalled the package and it still has problems. I dug into the code and found two issues in the netVisual_hierarchy1 sub-function.

  1.  It does NOT pass ‘object’, so if I try to pass numeric sources.use, it errors out on to line 22

if (is.numeric(sources.use)) {

    sources.use <- ***@***.******@***.***)[sources

[2021-04-05 19:18] hooperj commented on #169
Sorry-I hit SENT instead of PASTE. This is the dialog I get reinstalling and I wanted to be sure this includes the updates.

If this version does include the update, then the  message below is relevant ..

From: "Hooper, Joan" <JOAN.HOOPER@CUANSCHUTZ.EDU>
Date: Monday, April 5, 2021 at 1:14 PM
To: sqjin/CellChat ***@***.***>
Subject: Re: [sqjin/CellChat] sources.use causes error in hierarchy plots

[2021-04-06 03:48] phoebee-h commented on #155
I see.
Thank you very much.

[2021-04-06 03:48] #155 closed

[2021-04-06 10:38] jv-20 commented on #170
Hi @sqjin and @cswoboda ,thanks a lot for your insights and help.

@cswoboda
`Does the command work normally when not specifying signaling pathways?`
Yes

`Would you generate the pattern = c("all") heatmap and see if that ones look similar to the others?`
Using "all" within same dataset for out and in looks the same.  But looks different when using different datasets. For example (out.dataset1 + o

[2021-04-06 14:02] jv-20 commented on #170
Hi @sqjin,

Just another question. Is there a function to cluster a list of pathways of interest based on network centrality measures (outdegree,indegree,meadiators and influencers)?

When I try to use the cluser.rows=T parameter with `netAnalysis_signalingRole_heatmap(cellchat_ob, signaling = pathway_Q1, ,pattern="outgoing",cluster.rows = T)` I receive the following error.

Error in hclust(get_di

[2021-04-06 15:39] sqjin commented on #171
@HyacintViolet This is indeed an important application. From what I understand, endocrines provide a way to send signals from one place to another. Thus we can infer cell-cell communication based on the expression of ligands and receptors, and CellChat is applicable to such case. I think the communication happens within and between organs. So you can pull together all cell groups from different or

[2021-04-06 15:44] sqjin commented on #170
@jv-20 There is no function available in CellChat. But you can extract the data and use the `Heatmap` function to plot and cluster the signaling pathways.

[2021-04-06 16:49] sqjin commented on #169
@hooperj I checked `‘object ` in `netVisual_hierarchy1`, but I did not find it.  For the index issue, it seems not easy to solve it.  Can you use other type of plots such as circle?

[2021-04-08 15:05] #159 closed

[2021-04-08 15:07] cswoboda opened #172 "Population size use"
You mention in the documentation of computecommunprob that:

"whether consider the proportion of cells in each group across all sequenced cells. Set population.size = FALSE if analyzing sorting-enriched single cells, to remove the potential artifact of population size. Set population.size = TRUE if analyzing unsorted single-cell transcriptomes, with the reason that abundant cell populations tend t

[2021-04-12 07:27] sqjin commented on #172
@cswoboda I am sorry I missed your question. In this case, you can set population.size = FALSE to avoid the potential artifacts.

[2021-04-12 15:44] cswoboda commented on #172
Thank you!

[2021-04-12 18:32] #172 closed

[2021-04-13 13:43] YitengDang opened #174 "Error with netClustering(cellchat, type = "functional")"
Hi, I'm simply trying to run the tutorial script in Rstudio, but am running into the following problem.

When running
`cellchat <- netClustering(cellchat, type = "functional")`,
I get the error message:

<img width="1015" alt="Screenshot 2021-04-13 at 15 29 06" src="https://user-images.githubusercontent.com/21265783/114560435-fd991080-9c6c-11eb-8252-de0c5fba0645.png">

Initially I thought it might

[2021-04-13 17:57] jv-20 commented on #165
Hi @sqjin ,

Quick question. I am having difficulty understanding the interaction strength. If possible, could you please give some insight to this, perhaps define interaction strength? Would this be indicative of communication probability and expression values?

In the scatter plot, outgoing vs incoming strength, does the count indicates the number of interactions reflected by size of the circles

[2021-04-14 06:45] camerongw opened #175 "Chord diagram diameter"
Hi, thanks for developing such a great tool. I find it really useful. I have a question about chord diagrams - is there any way to directly control the diameter?
When I run:
[code]

I get this output:
![image](https://user-images.githubusercontent.com/65387606/114665921-f5120a00-9d40-11eb-84c8-8e54b17cbfc9.png)

I'm a bit unclear on why the sizes are so different, and I don't want to change/shrink

[2021-04-14 11:29] jv-20 opened #176 "netVisual_embedding error"
Hi @sqjin

I am trying to generate a new figure based on cellchat analysis RData completed in early February. The analysis was performed in a single dataset.

When re-running this function, I receive error now. When I did the analysis in February, I was able to generate figures without any problem. Could you please advise?

[code]
I also tried updating updateCellChat(cellchat_obj), still the same

[2021-04-14 11:29] jv-20 commented on #170
Thanks @sqjin

[2021-04-14 11:29] #170 closed

[2021-04-14 13:51] lxwang326 commented on #167
I have the same questions with  QueenieBear

[2021-04-15 02:01] MagpiePKU commented on #16
Similar problem unsolved (and is strange that it was OK across previous runs but crashed for now).  The obj is some 120838 cells x 60662 genes.  @sqjin

[2021-04-15 02:30] lxwang326 commented on #167
I read the pull request
and add the code in the source code  as follows: #1#2#3
[code]

error is as follows
[code]
how can I define 'comparison'?
thanks for your help!

[2021-04-15 08:25] lxwang326 commented on #167
I have solved the problem by the following code in the pull request。

+   type <- match.arg(type)
+   prob = methods::slot(object, slot.name)$prob
+   if (is.null(k)) {
+     if (dim(prob)[3] <= 25) {
+       k <- ceiling(sqrt(dim(prob)[3]))
+     } else {
+       k <- ceiling(sqrt(dim(prob)[3])) + 1
+     }
+   }
+   if (!is.null(thresh)) {
+     prob[prob < quantile(c(prob[prob != 0]), thresh)]

[2021-04-15 09:42] sqjin commented on #176
@jv-20 Can you rerun the analysis from the function `computeNetSimilarity` to `netVisual_embedding`

[2021-04-15 14:41] gsq-gsq opened #177 "About the method of Inference of intercellular communications in paper"
Hi @sqjin
First of all, thank you very much for providing such a great cell communication analysis tool. I was reading your paper recently, but I have some questions about the cell communication inference method described in the article.

a）Identification of differentially expressed signaling genes.
Is the rank sum test used to identify differentially expressed signal genes between **_two cell gro

[2021-04-16 15:53] lxwang326 commented on #143
I have the same problem  with my own data from seurat

[2021-04-16 16:01] sqjin commented on #143
@lxwang326 Are the meta slot have the same column names in the two object?  For such issues, the best practice is to run the sources codes line by line. I am sorry I cannot give any correct suggestions except that I can run your data and replicate the error.

[2021-04-17 15:34] JKarmanAbbVie opened #178 "computeCommunProb error"
The issue below started appearing with some of my CellChat objects. Help would be appreciated.

  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=43s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=08m 37s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=09s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=50s
Error in P1

[2021-04-18 23:36] sqjin commented on #175
Hi @camerongw , sorry for the late reply.  Such issue is caused by the longer cell group names in your second plot. One way is to plot the graph separately.

[2021-04-18 23:37] sqjin commented on #178
Can you check the data matrix object@data.signaling and the cell group information objecct@idents look ok?

[2021-04-18 23:43] sqjin commented on #177
@gsq-gsq Yes, the rank test was used to test the expression difference between cells in one cell group and cells in all other cell groups. Genes showing differential expression in at least one cell group were considered.

Random walk was used to smooth the gene expression and the smoothed expression was called projected data. Using such projected data, one can compute the communication probabiliti

[2021-04-18 23:48] sqjin commented on #174
@YitengDang This was an interesting issue. I reinstalled the package from my github, but I did not find any issue. However, you are not the first people mentioned this issue recently.  You can try the method in the `Pull Request` suggested by another user.

[2021-04-18 23:50] #147 closed

[2021-04-18 23:51] #146 closed

[2021-04-18 23:51] #145 closed

[2021-04-18 23:51] #144 closed

[2021-04-18 23:52] #152 closed

[2021-04-18 23:52] #164 closed

[2021-04-19 00:12] jessicook commented on #147
Hi, I'm having the same issue. I tried the solutions above with no success. The odd thing is, I'm running cellchat on a subset of a seurat object, and the rest of the subsets looks fine. Here is my code:

[code]
session info:
[code]
object@data.signaling:
[code]
unique(object@idents):
[code]

[2021-04-19 03:28] gsq-gsq commented on #177
Thank you very much for your reply！
For question b), I found some source code about "projected" in the source code you uploaded. Can I understand it as an "Imputation" process for improving the quality of single-cell data?

[2021-04-19 07:37] JKarmanAbbVie commented on #178
They do look ok to me:

[1] 5088

[1] 1514 5088

They also seem to contain the right type of data and they seem to be the right class (factor and dgCMatrix).

[2021-04-19 14:04] cnhaines01 opened #179 "computeCommunProb: Error in P1 * P2 * P3 * P4 : non-conformable arrays"
Hi sqjin,

Thank you so much for an amazing program. I've run CellChat on several datasets now and have had so much success. In a recent run-through though I ran into an error after computeCommunProb that said "Error in P1 * P2 * P3 * P4 : non-conformable arrays." I have split a single seurat object into two based on treatment group and then ran the cellchat pipeline individually for each treatmen

[2021-04-20 00:30] hmbaghdassarian commented on #160
@sqjin is there any update on this?

[2021-04-20 04:45] sqjin commented on #160
@hmbaghdassarian I think I have fixed it. Can you try to reinstall the package

[2021-04-20 05:23] sqjin commented on #179
@cnhaines01 Can you check your data, including object@data.signaling and object@idents, to see if they look ok? Please make sure the number of levels in the factor variable `object@idents` is the same as the number of cell groups.

[2021-04-20 05:24] sqjin commented on #178
@JKarmanAbbVie Can you show the `unique(cellchat@idents)`

[2021-04-20 05:25] sqjin commented on #177
@gsq-gsq Yes, it is kind of imputation.

[2021-04-20 05:29] sqjin commented on #147
@jessicook Two mistakes in your data: 1) The input data should be normalized data instead of count data.  2) The number of levels in object@idents is not the same number of cell groups. You should drop the levels in the factor variable.

[2021-04-20 07:32] JKarmanAbbVie commented on #178
[1] IL13_Thelper_0          Tcytotoxic_18           Thelper_4               KRT5_KRT14_keratino_1   Langerhans_20           Tcytotoxic_6            Treg_17                 DC_3
 [9] DC_7                    KRT1_KRT10_keratino_2   KRT1_KRT10_keratino_5   Mast_14                 Proliferating_T_22      CD16_DC_10              Melanocytes_9           LAMP3_DC_19
[17] Plasmacells_25          KRT5_KRT1

[2021-04-20 17:17] ColeKeenum opened #180 "Quick question: Support for SCTransform or alternative normalizations"
I see that the input to CellChat needs to be a normalized matrix.

This makes sense to me, but I was wondering if alternative normalizations, particularly [SCTransform](https://genomebiology.biomedcentral.com/articles/10.1186/s13059-019-1874-1), which is a popular normalization method would also be supported.

In #64, I saw that the user was using SCTransform normalizations, and it seems like ther

[2021-04-20 17:34] ColeKeenum commented on #180
Yes, something like this you mean?

input <- GetAssayData(object = seuratObj, assay = 'SCT', slot = "data")

[2021-04-20 19:11] ColeKeenum commented on #174
@sqjin I am also having this issue when running the vignette!

Getting the following error:

[2021-04-21 09:31] gsq-gsq commented on #177
Okay, I understand, thanks again for your reply!

[2021-04-21 21:11] hmbaghdassarian commented on #160
@sqjin yes, it looks like it works now. thank you!

[2021-04-21 22:31] cnhaines01 commented on #179
Upon investigation object@idents has included the cell group I had removed from my Seurat object. I was able to fix it using:

cellchat_P.Veh <- setIdent(cellchat_P.Veh, ident.use = "seurat_clusters", levels = c("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29"))

Thank you so muc

[2021-04-21 23:10] apelonero-GladstoneInstitutes commented on #167
@lxwang326 's code got me past the same `netClustering()` issue: `Error in do_one(nmeth) : NA/NaN/Inf in foreign function call (arg 1)`

I took the liberty of wrapping these fixed functions in a script. Just change the extension from `.txt` to `.R` and source it to get going again. FYI I've done no due diligence with this, so look this over if you want to be careful. Elaboration, explanation, or b

[2021-04-22 05:28] lxwang326 commented on #143
than you .I have solved the problem by mergeing the rds

[2021-04-22 14:04] YitengDang commented on #174
So this issue is persisting for me, even after reinstalling the package and running the tutorial. Exactly the same error also arises when I apply the function to my own data. However, interestingly, if I knit  the tutorial (using knitr) to create an html file, it does not give any problems and actually outputs a plot... this is very puzzling.

[2021-04-22 16:18] sqjin commented on #174
@YitengDang @ColeKeenum Can you guys share your cellchat object so that I can replicate the error?

[2021-04-23 09:09] YitengDang commented on #174
@sqjin I am inviting you to a private repo which contains my own data in the file ~/CellChat/cellchat_Cell-ECM_out_run2.Rds. Let me know if you can access the data.
For the tutorial, I checked that loading the data "~/tutorial/cellchat_humanSkin_LS.rds" from this repo still gives the same error for me.
Thanks a lot in advance.

[2021-04-23 12:46] HyacintViolet opened #181 "Access to intermediate results"
Hi, thanks for providing this wonderful tool!
I'm interested in a particular L-R pair within a dataset.
After running the pipeline, the L-R pair I'm interested in did not show up in the df.net result.
I'm wondering if I could access the intermediate results and check for reasons why the L-R pair was missing, for example, one cell type involved in the L-R pair may have too few cells.

Thanks!

[2021-04-23 14:41] sqjin commented on #181
@HyacintViolet The methods for computing the average expression per cell group will clearly produce different number of interactions. Thus you can check the average expression using different methods.  For example, you can play with the following codes by adjusting the `trim` parameter.

data.input = cellchat@data.signaling
data.use.avg1 <- aggregate(t(data.input), list(cellchat@idents), FUN = fun

[2021-04-24 12:12] HyacintViolet commented on #181
Thank you @sqjin!

[2021-04-24 12:12] #181 closed

[2021-04-25 14:33] sqjin commented on #180
@ColeKeenum Missed your message. Yes, use `input <- GetAssayData(object = seuratObj, assay = 'SCT', slot = "data")`

[2021-04-25 15:34] ColeKeenum commented on #180
@sqjin No problem. Thanks! This has worked for me.

[2021-04-25 15:34] #180 closed

[2021-04-25 16:19] #179 closed

[2021-04-25 16:22] sqjin commented on #178
@JKarmanAbbVie You need to drop some unused levels in the factor

identity$group = droplevels(identity$group, exclude = setdiff(levels(identity$group),unique(identity$group)))

[2021-04-25 16:33] JKarmanAbbVie commented on #178
The levels of the identity was indeed the problem. Thank you for your help.

[2021-04-25 16:33] #178 closed

[2021-04-26 16:19] cswoboda opened #182 "Interaction strength and probability values"
Hi again @sqjin!

In using your package across a few different datasets I've noticed two technical concerns I wanted to run by you for clarification

1. When you map to a PPI instead of using raw values, the cumulative "interaction strength" and probability of my interactions seems to reduce drastically (under a value of 1 for example)
2. I use mostly nuclear instead of single cell data, which oft

[2021-04-27 07:43] sqjin commented on #182
@cswoboda Yes, all values are relative and there is no sufficiently small values.  You can use the raw values as it often produces more clean interactions. You can take a look at the updated tutorial, where you may want to change the methods for computing average expression if some important signaling genes only express in a small portion of cells.

[2021-04-28 03:45] yjgeno opened #183 "Pathways of River Plot missing"
Hi, thanks for your package!

My issue was that after I computed netAnalysis_river(cellchat, pattern = "outgoing"), some of the significant pathways did not show in the river plot.

The heatmap computed by identifyCommunicationPatterns(cellchat) gave me the complete list of pathways.

I presumed the pathways shown on the river plot, after NMF, should be identical for 'outgoing' and 'incoming'. Als

[2021-04-28 13:04] miaomiaotan opened #184 "How to calculate the Interaction weights/strength"
Hi,
Thank you for this user-friendly package!
You mentioned two ways to display the aggregated cell-cell communication network, the "Number of interactions" and the "Interaction weights/strength". Can you talk about how the Interaction weights was calculated? Thank you!

[2021-04-28 13:24] sqjin commented on #184
@miaomiaotan It is the communication probability defined in our paper. The matrix is cellchat@net$prob or cellchat@netP$prob

[2021-04-29 06:53] miaomiaotan commented on #184
@sqjin Get it. Thank you!

[2021-04-30 03:40] BuddySphinx opened #185 "Error thrown during the subsetData(cellchat)"
Hi, I am new to cellchat and I have encountered an issue when running to the step subsetData(cellchat), which threw an error Error in UseMethod("select") : no applicable method for 'select' applied to an object of class "NULL". I created the cellchat object from a Seurat object. Here is my code:
load("lung_dat.Robj")
lung<-NormalizeData(lung_dat)
#Preprocess and create a Cell chat object
data.inpu

[2021-04-30 14:43] sqjin commented on #185
@BuddySphinx The codes you showed look ok. Can you show me all your codes before running subsetData?

[2021-04-30 14:44] sqjin commented on #183
@yjgeno There is a `cutoff` parameter when using netAnalysis_river. You can try to decrease it.

[2021-04-30 14:45] #143 closed

[2021-04-30 14:46] #149 closed

[2021-04-30 16:29] yjgeno commented on #183
Hi @sqjin thanks for your info. I was initially wondering if it was a bug of the function or something I did wrong?
I had about more than 30 pathways to show

[2021-05-02 17:18] BuddySphinx commented on #185
@sqjin Here is the full code I have:
library(CellChat)
library(Seurat)
options(stringsAsFactors = FALSE)
load("ligand_receptor.RData")
load("lung_dat.Robj")
lung<-NormalizeData(lung_dat)
#Preprocess and create a Cell chat object
data.input<-GetAssayData(lung,assay = "RNA",slot = "data")
meta<-lung_dat@meta.data
cellchat <- createCellChat(object = data.input,meta=meta,group.by = "cell.type.ident")

[2021-05-03 07:48] idupanloup opened #186 "error when calling identifyOverExpressedGenes function"
I get an error when calling the  identifyOverExpressedGenes function.
Here's my code:

Merge the following slots: 'data.signaling','net', 'netP','meta', 'idents', 'var.features' , 'DB', and 'LR'.
Warning message:
In mergeCellChat(object.list, cell.prefix = TRUE) : Prefix cell names!

Issue identified!! Please check the official Gene Symbol of the following genes:
 H2-Q8 H2-T9 H2-T18 H2-Q9 H2-L H2-

[2021-05-04 04:43] sqjin commented on #186
@idupanloup For the merged cellchat object, you cannot run `subsetData` and `identifyOverExpressedGenes`.  If you want to compare signaling networks across different datasets, you need to first run cellchat on each dataset and then follow the tutorial on the comparison analysis.

[2021-05-04 05:13] mcap91 opened #187 "error with netAnalysis_computeCentrality using mergeCellChat object"
Thank you for this amazing package.

I have a merged cellchat object (2 individual cellchat runs using Cellchat 1.1.0).

I am getting the following error when trying to produce this figure from netAnalysis_signalingChanges_scatter:

![image](https://user-images.githubusercontent.com/36866996/116945730-42411780-ac2d-11eb-856a-747fdb4dbbd1.png)

```Please run `netAnalysis_computeCentrality` to compu

[2021-05-04 11:23] idupanloup commented on #186
@sqjin I ran CellChat on the 2 datasets and now get a new error message:

# --------------------------------
# db1

data.input <- GetAssayData(db1.Seurat, assay = "RNA", slot = "data") # normalized data matrix
labels <- Idents(db1.Seurat)
meta <- data.frame(labels = labels, row.names = names(labels))
db1.cellchat <- createCellChat(object = data.input, meta = meta, group.by = "labels")
rm(db1.Seura

[2021-05-04 20:32] mcap91 commented on #187
I got this to work by running ```netAnalysis_computeCentrality``` on each cellchat object in the ```object.list``` separately and then using ```mergeCellChat```.

[2021-05-04 20:32] #187 closed

[2021-05-05 05:54] sqjin commented on #185
@BuddySphinx Can you check the difference of CellChatDB1.use with our database CellChatDB.human/mouse? You should make sure they have similar columns. This is the only potential issue I can see.

[2021-05-05 10:33] erikagucciardo opened #188 "Interaction weights/strength from tutorial different"
Hi! Thanks for this useful tool!
I am running through the tutorial, but the graph with title "Interaction weights/strength" turns out different in the plot window.
What could be the cause?
Notably, when I run par(mfrow = c(3,4), xpd=TRUE), I get a fatal error and the R session aborts. This doesn't happen when I remove "xpd=TRUE". Is this change the reason why the plot looks different?

[2021-05-05 14:31] sqjin commented on #188
@erikagucciardo Can you show me the plot? Is it very different or minor different?

[2021-05-05 14:42] BuddySphinx commented on #185
@sqjin thank you for your reply. That's the part I had issue with. Because the database only includes two columns, ligand and receptor pairs and I wasn't sure if it will work. Any suggestions if this format does not work?

[2021-05-06 01:23] MMriran opened #189 "How can I get Information flow figure in your paper？"
Hi，thank you for your great tool！ It works well and helps a lot. And I have a question about information flow figure in your paper.  When I try to get the  Information flow figure (eg.Fig 5k) and run the codes in your tutorials, then, I found I only got a barplot  with all pathways in one direction.    So How  can I get the information flow figure with pathways in both sides and order the pathway

[2021-05-06 01:48] MMriran commented on #189
![image](https://user-images.githubusercontent.com/51091889/117230690-31242080-ae50-11eb-9e5b-96e4ef7f200f.png)

[2021-05-06 03:53] sqjin commented on #189
@MMriran  it is deprecated now as it can not be extended to three datasets. You can try the codes below (I think it looks nice)
`rankNet(cellchat, mode = "comparison", stacked = T, do.stat = TRUE)`

[2021-05-06 05:48] dsb66 commented on #167
The fix above work for me. Note that the fixed file ("CellChat_issue167_netClusteringFix.txt") has two occurrences of GiGj that should be Gi + Gj.

[2021-05-06 09:29] jv-20 opened #191 "Running cellchat without pathway assignment"
Hi @sqjin

A quick question. Is it possible to run cellchat without pathway assignments? How does this affect the cellchat visualization outputs and classification analyses - grouping pathways based on functional or structural similarity?

I want to use OmnipathR @https://github.com/saezlab/OmnipathR/issues/28 database and run cellchat.

I am having issues with assigning pathway names to additiona

[2021-05-06 09:43] Margaret-jo opened #192 "computeCommunProb Error: there is no package called 'CellChat'"
Hi @sqjin

I got an error when calling the computeCommunProb function after updated the CellChat version to 1.1.0 :
Error: there is no package called 'CellChat'.

The previous steps including CellChat object creation and ligand-receptor interaction database setting were all went well, till the computeCommunProb function was called.

May I have your kind suggestions?
Many thanks!

[2021-05-06 09:59] xiaozhutou789 opened #193 "error when calling identifyOverExpressedGenes function"
I used the test dataset data_humanSkin and ran the programe as follow. However, there was an mistake like cellchat <- identifyOverExpressedGenes(cellchat)
**Error in genes.de[[i]] : subscript out of bounds**
How to fix it ?
Many thanks~
# subset the expression data of signaling genes for saving computation cost
cellchat <- subsetData(cellchat) # This step is necessary even if using the whole datab

[2021-05-07 00:18] xiaozhutou789 commented on #193
and I ran the program on the linux R

[2021-05-07 03:58] sqjin commented on #193
@xiaozhutou789 For such errors, I have to say I have no idea. I suggest you to run the sources codes line by line or send me the codes and data that I can replicate your error.

[2021-05-07 07:48] pperr opened #194 "A fixed-effects model (with or without moderators) is fitted when using method="FE""
Hi, I'm trying to run my meta-analytic data base using these functions:
#A fixed-effects model (with or without moderators) is fitted when using method="FE"

res_uc <- rma(yi, vi, weights=sample_n, data=mdata1, method="HS")
model1 <- rma(yi = yi,
              sei = vi,
              data = res_uc,
              method = "ML",
              mods = ~ js_commit_corr,
              test = "knha")
sum

[2021-05-07 10:39] erikagucciardo commented on #188
![Troubleshoot](https://user-images.githubusercontent.com/51324470/117437878-7e2ff180-af39-11eb-9c49-ed20020cee93.png)
This is how it looks in the plot window. When I save it, it looks just fine. It might be something to do with the parameter "xpd", but my R session aborts if I set this parameter to TRUE.

[2021-05-07 23:13] sqjin commented on #188
@erikagucciardo Interesting. I never have such issue.

[2021-05-08 03:56] sqjin commented on #192
@Margaret-jo This is interesting. Can you run the source codes of this function to see where is the error coming from?

[2021-05-08 04:01] sqjin commented on #191
@jv-20 I think for many functions in CellChat, you can define the argument `slot.name = "netP"` to indicate whether you want to analyze the cell-cell communcation at ligand-receptor level (`slot.name = "net"`) or signaling pathway level.

[2021-05-08 04:03] #183 closed

[2021-05-08 04:04] #189 closed

[2021-05-08 04:04] #188 closed

[2021-05-08 04:07] sqjin commented on #186
@idupanloup Sorry. I missed your information. I guess the reason is that you have different cell groups between the two datasets. If so , please check the third tutorial.

[2021-05-08 04:15] sqjin commented on #185
@BuddySphinx I suggest to have the same columns as in CellChatDB.mouse even if they are empty in certain columns.

[2021-05-08 04:15] #177 closed

[2021-05-08 04:16] #182 closed

[2021-05-08 04:16] #184 closed

[2021-05-08 04:16] #176 closed

[2021-05-08 04:16] #175 closed

[2021-05-08 04:18] #171 closed

[2021-05-08 04:19] #169 closed

[2021-05-08 04:20] #165 closed

[2021-05-08 04:20] #163 closed

[2021-05-08 04:21] #161 closed

[2021-05-08 04:21] #160 closed

[2021-05-08 04:21] #158 closed

[2021-05-08 04:21] #157 closed

[2021-05-08 04:21] #153 closed

[2021-05-08 04:21] #151 closed

[2021-05-08 04:22] #148 closed

[2021-05-10 02:45] superman2412 opened #195 "Error in netAnalysis_computeCentrality(cellchat, slot.name = "netP") : could not find function "netAnalysis_computeCentrality""
Hi, since Seurat has now been [updated](https://github.com/satijalab/seurat/blob/master/NEWS.md) and runs on R Version >4.0 when I try to run functions within CellChat (e.g. netAnalysis_compute_centrality, plotGeneExpression etc) that are dependent on Seurat wrapper library I get an error. (could not find function "_function_name_")

To solve this error I have tried to run CellChat on R-4.0.5, but

[2021-05-10 02:47] superman2412 commented on #192
@Margaret-jo Double check if you have updated R to (R 4.0>), I get the same error when I update R.

[2021-05-10 07:49] superman2412 commented on #195
Thank you for your prompt response @sqjin . As you can see in the screenshots, the errors say that CellChat is not available for the R 4.0.5 version. I have also included more details on my version of R (the the other screenshot).

Could you please help me troubleshoot this problem?

<img width="330" alt="Screenshot 2021-05-10 at 08 48 11" src="https://user-images.githubusercontent.com/78153664/11

[2021-05-10 13:00] superman2412 opened #196 "Error in cellchat <- netEmbedding(cellchat, type = "functional") / UMAP Problems"
Hi,

This is regarding "Manifold and Classification learning analysis of signaling networks" in the full tutorial/vignette.

I installed umap and it seems to run fine like this:

<img width="521" alt="Screenshot 2021-05-10 at 13 57 28" src="https://user-images.githubusercontent.com/78153664/117662624-aa48ae00-b197-11eb-8eae-2547e1d7a44b.png">

This command: cellchat <- computeNetSimilarity(cellcha

[2021-05-10 13:02] superman2412 commented on #195
Hi, we can close the case as I was able to install CellChat via the GitHub repository.

Also, the Seurat wrapper seemed to be running after installing it through GitHub repository (Satija lab), using Devtools I believe.

Further, there were many prerequisites that Seurat needs to run properly. Please pay attention to installing them and the program will run.

[2021-05-11 17:47] jv-20 opened #197 "Adding cofactor information for customized database"
Hi @sqjin

I am trying to use a customized database of interactions. I would like to add cofactor and complex information.

I am just trying to get the rules correct.

1.Which column does the rows of cofactor table refer to in the interaction file?
2.Does the cofactors have to be grouped by pathways or is it okay to refer by individual ligand/receptor name?
3.The rownames of complex file refers to

[2021-05-12 10:53] superman2412 commented on #196
Hi @sqjin I was wondering if there's anything you could say about this? Thank you for your help so far!

[2021-05-12 13:28] vim15 opened #198 "Vertex Receiver"
I'm sorry, but I am very confused about how to set the vertex.receiver and what it means as it's numeric.

I run the below :
[code]
and obviously when I change the numbers at the vertex.receiver slot the plots change, but I have no idea what each of the 2 numbers relates to, or how to find out which of my clusters (which are named) are what number.

If you could let me know how I can find out in m

[2021-05-12 19:17] sqjin commented on #197
@jv-20 The cofactor includes the columns named agonist | antagonist | co_A_receptor | co_I_receptor

No. The cofactor is associated with each l-r pair.

Yes, rownames of complex file refers to ligands/receptors in the interaction file .

May I ask why you use a customized database? Is it because of missing L-R pairs in CellChatDB or the case where CellChat does not predict certain expected signali

[2021-05-12 19:21] sqjin commented on #198
@vim15 You can check the order of cell groups in cellchat object using `levels(cellchat@idents)`, which corresponds to 1,2,3,...

You can set vertex.receiver = c(1,2,5,7), which will put these cell groups at the most left side in the plot. Assuming these groups represent immune cells and the remaining groups are fibrobalsts, such plot is very useful to study the interactions between immune cells a

[2021-05-12 22:19] jv-20 commented on #197
Hi @sqjin, thanks for the reply.

For your question `May I ask why you use a customized database? Is it because of missing L-R pairs in CellChatDB or the case where CellChat does not predict certain expected signaling interactions.`

Yes it is because of missing L-R pairs in CellChatDB. I want to use the recently compiled OmnipathR L-R interactions and their co-factors and run cellchat. In my expe

[2021-05-13 07:52] vim15 commented on #198
Hello!

Thank you for the help and the quick response, works like a charm.
Is there a way to just have 1 population as the sender? Based on the above I've tried both :

vertex.receiver = c(1) & vertex.receiver = 1 and both of these fail with the following error :
Error in matrix(0, m1, m1) : non-numeric matrix extent

Thanks again :)

[2021-05-14 19:08] sqjin commented on #197
@jv-20 You can define the rownames using any string you want, but you need to make sure that you use the same string in the 'interaction_input' file because this is the 'key word' for matching the information from these two tables.

If the ligand-receptor pair has ACTIVIN anatagonist in the 'interaction_input' file, then FST is the anatagonist of this ligand-receptor pair.

If there is no directio

[2021-05-15 13:41] sqjin commented on #196
@superman2412 Everything looks good. Can you open a new R studio and run `use_python` before loading CellChat package?  Do not run 'UMAP <- import('umap, ...')'.

[2021-05-16 09:55] hejincan commented on #22
@geosen  Hi, I get the same error while analyzing bulk RNA-seq. And my gene identifiers are gene symbols.  Could you please tell me How you fixed this error in more detail?

[2021-05-17 06:55] Margaret-jo commented on #192
Thanks for your suggestion, I have re-installed the Cellchat and then solved this problem.

[2021-05-17 06:56] Margaret-jo commented on #192
Many thanks for your reply. The issue was solved by re-installation of the package. THX again for the support.

[2021-05-17 06:56] #192 closed

[2021-05-17 08:13] 1221li opened #199 "problem on "Computecommunprob"."
Hello, I think I also encountered the same problem on "Computecommunprob".Here is my code:

RDS <- readRDS('/home/wangyu/students_catalogue/lxm/snRNA/pBAT/sWAT_TSNE.rds')
data.input <- RDS@assays$RNA@data
meta = RDS@meta.data
identity = data.frame(group = meta$seurat_clusters, row.names = names(meta$seurat_clusters))
head(identity)
group
1 1
2 2
3 0
4 2
5 2
6 0
unique(identity$group)
[1] 1 2 0
Lev

[2021-05-17 13:26] jv-20 commented on #197
Okay thank you @sqjin. My query is resolved. Thanks

[2021-05-17 13:26] #197 closed

[2021-05-17 19:33] sqjin commented on #22
@1221li You should change your cell labels, which cannot be `0`. It should be at least starting from 1, e..g., 1,2,3,..

[2021-05-17 21:32] patrickfletcher commented on #38
Dear sqjin,

I am trying to make a CellChatDB to study rat data. Could you confirm that the change needed for the files above is to change the "Symbol" appearances in each of the files you mentioned? Specifically:
interaction_input: ligand column
complex_input: all gene names
cofactor_input: all gene names
geneInfo: Symbol column

Should the remaining columns in geneInfo also be updated?

Thanks f

[2021-05-18 00:46] sqjin commented on #38
@patrickfletcher In addition to the four updates you mentioned, you also need to change the gene names in `receptor column` in the `interaction_input` file. If the element in the `receptor column` is a complex (i.e., not a gene name), no need to change. If the element in the `receptor column` is a gene name, change it to be a homologous gene.  Note that there are also several ligands with multiple

[2021-05-18 01:58] wajm commented on #198
same issue with me.
any option for this?

[2021-05-18 02:31] 1221li commented on #22
Thank you very much for answering my question. I seem to have solved this problem. I have increased the number of seurat_clusters and there is no longer this mistake.However, at the step of NetAnalysis_ComputeCentrality, we have the following error

Error: unexpected input in "cellchat < -  filterCommunication（"

Error: unexpected input in "cellchat <-filterCommunication(cellchat，"

Fortran runtim

[2021-05-18 05:45] sqjin commented on #198
@wajm @vim15 This function will not work if there is only one element defined in `vertex.receiver`. In this case, you can use the circle plot.

[2021-05-18 14:01] superman2412 opened #200 "Issue in cellchat <- identifyOverExpressedGenes(cellchat)"
Hi, I am facing troubles in identifyOverExpressedGenes(cellchat) and identifyOverExpressedInteractions(cellchat) functions.

I get the same error for both functions:

`Error in rep(no, length.out = len) : attempt to replicate an object of type 'closure'
2.
ifelse(test = future::nbrOfWorkers() == 1, yes = pbapply::pbsapply, no = future.apply::future_sapply)
1.
identifyOverExpressedGenes(cellchat)
`

[2021-05-18 15:57] superman2412 commented on #196
@sqjin Unfortunately, it still does not run. I was wondering if there's anything else that could be done?

[2021-05-18 16:00] sqjin commented on #22
@1221li I have no idea on this. Can you run the source codes of this function to figure out the reason?

[2021-05-18 17:09] superman2412 commented on #200
@sqjin Thank you for your prompt response. Yes, here you go.
<img width="472" alt="unique(cellchat@idents)" src="https://user-images.githubusercontent.com/78153664/118694639-2f6d3c00-b804-11eb-8652-ebe32cec1f6a.png">

<img width="787" alt=" cellchat@data signaling_1" src="https://user-images.githubusercontent.com/78153664/118694649-3136ff80-b804-11eb-900f-53d29786940d.png">

<img width="788" alt="

[2021-05-18 20:54] zqun1 opened #201 "netVisual_diffInteraction: Error in quantile.default(abs(net), probs = 1 - top)"
Hi, thanks for the wonderful tool.
I am using v1.0.0, though I could not find the newest 1.1.0.
I have many cell types so I wanted to subset some and draw the circle plot. When I run the following without specifying cells, everything was fine.
`par(mfrow = c(1,2), xpd=TRUE)
netVisual_diffInteraction(cellchat, weight.scale = T)`
However, when I specify the cells,
`par(mfrow = c(1,2), xpd=TRUE)
netV

[2021-05-19 13:07] superman2412 commented on #200
@sqjin Would be fantastic if you could see what the issue is here and why it isn't running.

[2021-05-19 13:45] LiesMinn commented on #129
Hi,
Thanks for creating this extremely useful tool!

Related to the comment above: I believe there is a bug in the liftCellChat when lifting up cellchat objects when using `group.new = union(levels(cellchat1@idents), levels(cellchat2@idents))`.

By taking the union, group.new will contain first the cell types that intersect between the two cellchat objects and at the end it contains the remaining

[2021-05-19 13:47] LiesMinn opened #202 "Possible bug in the liftCellChat function"
Hi,
Thanks for creating this extremely useful tool!

Related to the issue #129 : I believe there is a bug in the liftCellChat when lifting up cellchat objects when using `group.new = union(levels(cellchat1@idents), levels(cellchat2@idents))`.

By taking the union, group.new will contain first the cell types that intersect between the two cellchat objects and at the end it contains the remaining ce

[2021-05-19 19:15] superman2412 commented on #200
@sqjin Some more information on this error.

`Error in rep(no, length.out = len): attempt to replicate an object of type 'closure'
Traceback:

1. identifyOverExpressedGenes(cellchat)
2. ifelse(test = future::nbrOfWorkers() == 1, yes = pbapply::pbsapply,
 .     no = future.apply::future_sapply)`

[2021-05-20 00:33] superman2412 commented on #202
Hi @LiesMinn as the error you are referring to was found in tumour tissue transcriptome datasets I was wondering if my [issue](https://github.com/sqjin/CellChat/issues/200) is also occurring because of that? Would be really grateful if you could please take a look.

[2021-05-20 07:17] sqjin commented on #200
@superman2412 The data matrix looks good. The error information you posted is not much informative. Can you run the source code of this function line by line to give more error information?

[2021-05-20 07:26] sqjin commented on #196
@superman2412 You can check this package https://github.com/jlmelville/uwot and replace the umap function using the function from this package.

[2021-05-20 19:31] geekbio commented on #98
Hi Jin,
I am getting the same kind of error " Error in data1[x, ] : subscript out of bounds" even after running sour code. Do you have any idea why this is happening? and how to solve it? Thanks.

[2021-05-21 02:17] superman2412 commented on #200
@sqjin . Managed to fix this error by changing the syntax of a code chunk found in the source code.

[Source Code](https://rdrr.io/github/sqjin/CellChat/f/) > [R/utilities.R](https://rdrr.io/github/sqjin/CellChat/src/R/utilities.R).

FROM:

[code]

TO:

[code]

The code chunk belongs to the identifyOverexpressedGenes and identifyOverExpressedInteractions functions. Also, I ran the edited source co

[2021-05-21 05:26] sqjin commented on #98
@geekbio Can you check ` cellchat@data.signaling` and `unique(cellchat@idents)` to see if they look ok?

[2021-05-21 05:26] #199 closed

[2021-05-21 13:02] jv-20 opened #204 "Question with netAnalysis_signalingRole_scatter"
Hi @sqjin

I have few  quick questions on understanding this scatter plot.

- What does the count and interaction strength mean here?
- What underlying data is used to generate this figure?
- This is based on the pathway level isn't it?
- Is it possible to generate similar at Ligand-Receptor level?

![image](https://user-images.githubusercontent.com/68548237/119140764-75144980-ba3c-11eb-95fa-c49d3

[2021-05-21 14:48] geekbio commented on #98
Hi Jin,

     The ***@***.******@***.***> is returning with

<0 x 0 matrix>

[1] Fibroblast     Cardiomyocytes Adipocyte      Lymphocyte     Macrophage     Endothelium    Neuronal       Pericyte       Smooth muscle
Levels: Fibroblast Pericyte Macrophage Lymphocyte Smooth muscle Neuronal Adipocyte Cardiomyocytes Endothelium

I have tried again but now the error is,

Error in data.use[, cell.use1, d

[2021-05-22 04:08] sqjin commented on #98
@geekbio You should run 'cellchat <- subsetData(cellchat) # This step is necessary even if using the whole database' to get the data matrix cellchat.cntrl@data.signaling

[2021-05-22 04:41] sqjin commented on #200
@superman2412 Can you please check the edited codes you shared? There is an error when running on my computer.
Error in elsif(yes = pbapply::pbsapply) : could not find function "elsif"
Error in elseif(yes = pbapply::pbsapply) :
  could not find function "elseif"

[2021-05-22 07:02] YukuanHuang opened #205 "projectOnNetwork function cause integer overflow error when running on a large dataset"
Hi, I used a large dataset and ran the program. However, there was a mistake when I used the command `cellchat <- projectData(cellchat, PPI.human)`.
![image](https://user-images.githubusercontent.com/68011792/119217533-6ba6e200-bb0d-11eb-9a76-bf79d6723ecc.png)
It seems this mistake caused by too large my input data since my dim(gene_expression)[2] > 500000

Can you please help me troubleshoot this

[2021-05-24 00:20] superman2412 commented on #200
@sqjin Not sure what's going on here. So for the functions `identifyOverExpressedInteractions`, `identifyOverExpressedGenes`

changing this code chunk:

[code]

TO, the following code chunk

[code]

Makes the code run properly, without any error.

1) Is there any thing we can do to troubleshoot this error?

2) There's another problem though, now I have the same error in the following function:

`c

[2021-05-24 00:54] futmoon opened #206 "no x lab when using netVisual_bubble()"
when I use netVisual_bubble, there is no x lab in the picture. how to fix it?
<img width="574" alt="1" src="https://user-images.githubusercontent.com/55536174/119282797-8e500c80-bc6d-11eb-856f-c81b3994ceaa.PNG">

[2021-05-24 04:26] sqjin commented on #204
@jv-20  Dot size is proportional to the number of inferred links (both outgoing and incoming) associated with each cell group.
Interaction strength is the computed communication probability.
It is generated based on the two centrality measures (outdegree and indegree with weights).
 Since the x-axis and y-axis is the total outgoing or incoming communication probability, it is the same value when d

[2021-05-24 14:46] sqjin commented on #206
@futmoon This is interesting. Could you please share my the data to replicate your error/

[2021-05-24 15:01] sqjin commented on #205
@YukuanHuang I suggest to skip this step since it is not required if setting raw.use = TRUE in computeCommunProb.

[2021-05-24 15:59] sqjin commented on #202
@LiesMinn Thanks for pointing it out.  Can you please help to verify whether the following replacement works?

Change
`      group.existing <- group.max[group.max %in% group.i]`

      `group.existing.index <- which(group.max %in% group.existing)`

to

`      group.existing <- group.i[group.i %in% group.max]`

     ` group.existing.index <- which(group.max %in% group.existing)`

[2021-05-25 02:47] yjgeno opened #207 "Dataset used in the tutorial"
Hi, excellent work!
Could you tell me where the example skin data you showed in the tutorial ('Inference and analysis of cell-cell communication using CellChat') is? It would be great if you could provide me a GEO number thus I can look into the original paper of it
Thank you!

[2021-05-25 04:54] sqjin commented on #207
@yjgeno Please check our paper on the application to human skin dataset.

[2021-05-25 09:01] zqun1 commented on #201
@sqjin Hi Suoqin, I updated CellChat to the newest version 1.1.0, and rerun my code. It still got an error but the error is different: "
"
Error in polygon(p[1, ], p[2, ], border = color, lwd = width, lty = lty) :
  invalid value specified for graphical parameter "lwd"
".
I found other users also faced this error for `netVisual_aggregate` before and got solved. If you need my source data, I can al

[2021-05-25 14:18] pormr commented on #175
It can be circumvented by using a monkey patch that override R function
`strwidth <- function(x) {0.02}`

[2021-05-25 15:34] yjgeno commented on #207
Thank you! i found it GSE147424

[2021-05-25 17:12] superman2412 commented on #200
CHANGING THIS:

[code]

TO:

 `my.sapply <- future.apply::future_sapply`

in all the files of the source code fixes the errors.

 Huge thank you to @sqjin for helping me through this. If anyone wants the modified package (i.e. with the changed source code) you can find it here: https://github.com/superman2412

@sqjin you can close the issue now.

[2021-05-25 17:18] superman2412 commented on #196
@sqjin Did exactly that and it fixed the problem.

For anyone facing the same problem here's the preview of the changes made in the source code, specifically in the netEmbedding function found in the analysis.R file. Again, the forked package (with changes made) be found here:

<img width="646" alt="Screenshot 2021-05-25 at 18 09 32" src="https://user-images.githubusercontent.com/78153664/11954025

[2021-05-26 06:51] YukuanHuang commented on #205
@sqjin Thank you for your reply. I just replace `data_in_new_space = matrix(rep(0, length(new_features)*dim(gene_expression)[2]),nrow=length(new_features))` in function "projectOnNetwork" with `data_in_new_space <- sparseMatrix(dims=c(length(new_features),ncol=dim(gene_expression)[2]),i={},j={})
  data_in_new_space <- as(data_in_new_space,"dgCMatrix")` and use `Matrix::solve` in function "randomWa

[2021-05-26 16:39] LiesMinn commented on #202
Hi @sqjin
I checked whether the change you suggested worked, but it seems not to be the case. In the screen shot you can see the following @net$count tables from cellchat object generated by:
- "cellchat_2" : the unlifted object
- "cellchat_2_updated" : object after lifting using the build in function
- "cellchat_2_updated_ADAPTED" : object after lifting using the function with the changes I sugge

[2021-05-26 16:42] LiesMinn commented on #202
@superman2412 : no I did not ran in the issue that you mentioned in https://github.com/sqjin/CellChat/issues/200. But it seems to be solved now?

[2021-05-26 16:54] superman2412 commented on #202
@LiesMinn yes it is solved. Thanks for asking!

[2021-05-26 17:23] Oakento opened #208 "Possibly misleading error message for importing umap"
Function runUMAP in utilities.R throws the error message `"Cannot find UMAP, please install through pip (e.g. pip install umap-learn or reticulate::py_install(packages = 'umap-learn'))." `  if python module umap fail to load , while there exists other conditions causing program to fail passing `reticulate::py_module_available`.
[code]
For an example, umap module could fail to load due to an outdat

[2021-05-27 15:53] MarvinDo opened #209 "Is there a way to not consider autocrine signaling?"
Hello @sqjin

first of all thank you very much for the awesome package!

I am currently working on a dataset where I am only interested in the signaling between two different cell types. As some of the visualizations are influenced by the autocrine interactions I would like to remove those from the cellchat object or maybe do not calculate them in the first place. Is there a way to do this?

I am

[2021-05-27 17:20] lizanyu commented on #201
I am having the same error message after updating to CellChat v1.1.0

[2021-05-27 17:25] sqjin commented on #201
@zqun1 Yes, please share me the data and I will take a look.  @lizanyu

[2021-05-27 17:27] sqjin commented on #208
@Oakento Thanks for the information. So there is no error after you updating the gcc?

[2021-05-27 17:39] lizanyu opened #210 "How to use subsetCellChat?"
Hello! Thank you for creating such an awesome tool! I'm following the tutorial for Comparison Analysis of Multiple Datasets and would like to subset the merged cellchat object for ease of analysis. I am trying to use `subsetCellChat` using vectors identified from `cellchat@idents$joint`:

[code]
I get the following error message:
[code]

How should I be identifying `idents.use`? Any help would be

[2021-05-28 20:27] Oakento commented on #208
Hi @sqjin . It hasn't been updated yet, for it needs sudo privileges.

The ImportError occurred while importing umap in R is another story that it seems to be `reticulate`'s limitation dealing with conda environments. I've tried setting `reticulate::use_condaenv` to r-reticulate and `LD_LIBRARY_PATH` to the target library but it didn't take effect. Still working on it.

[2021-05-29 06:30] geekbio commented on #98
Thanks, it is working now.

[2021-05-31 01:26] #205 closed

[2021-05-31 11:30] doctorxie opened #211 "After updated CellChat to lasted version 1.1.0, "netEmbedding" function don't work."
Hello! Thanks for creating such an awesome tool!
Recently, I updated CellChat to lasted version 1.1.0, and "netEmbedding" function don't work.
1. When I run the code:  cellchat <- netClustering(cellchat, type = "functional")
Error in array(x, c(length(x), 1L), if (!is.null(names(x))) list(names(x),  :
  'data' must be of a vector type, was 'NULL'

2. cellchat <- computeNetSimilarityPairwise(cellch

[2021-05-31 13:30] jojob123 opened #212 "plotGeneExpression function error message"
Thanks for creating such an awesome tool!
When I run the command:  plotGeneExpression(cellchat, signaling = "CXCL", split.by = "datasets", colors.ggplot = T)

I get following error:
 *** caught segfault ***
address 0x14226, cause 'memory not mapped'

Traceback:
 1: dyn.load(file, DLLpath = DLLpath, ...)
 2: library.dynam(lib, package, package.lib)
 3: loadNamespace(j <- i[[1L]], c(lib.loc, .libPat

[2021-06-01 06:56] sqjin commented on #209
Hi @MarvinDo After the calculation, you can change the computed communication matrix object@net$prob.  Please try the following codes and let me know if it works.
object@net$prob[1,1, ] <- 0
object@net$prob[2,2, ] <- 0

[2021-06-01 07:01] sqjin commented on #210
@lizanyu There is no error when I tested the example data. Could you run the source codes to figure out the reason?  You can also share your object with me if you like.

[2021-06-01 07:17] sqjin commented on #212
@jojob123 Can you run the source codes to dig into the error?  Based on the information you provided, I have no idea on the error.

[2021-06-01 08:05] MarvinDo commented on #209
Thank you very much!  Worked perfectly fine for me. I inserted your code snippet after the computeCommunProb() call.

Keep up the great work!

[2021-06-01 14:42] VUbels opened #213 "Trouble importing data"
Hi, brilliant paper/tool. Thanks so much for this!

After reading through the publication I was immediately exciting to use the CellChat tool. However, as a complete R novice I've had some struggles with trying to recreate an acceptable dataset that can be used in CellChat. I went through the entire tutorial with the tutorial data without a problem but am currently a bit stuck. Prior to generating

[2021-06-01 19:31] jv-20 commented on #204
Hi @sqjin ,

Just one more question on this. Are the y-axes from the two datasets comparable? Based on the above figure could we say that Inflam.DC has higher outgoing and incoming signals in LS state compared to NL state?

The interpretation from this figure is this type of visualization allows us to see which celltypes have higher communication between them. Would this be correct? Please advise.

[2021-06-01 20:08] jv-20 opened #214 "subsetCommunication results"
Hi @sqjin

Quick question. There seems to be discrepancy in number of interactions returned when running subsetCommunication and net$count

I receive two different numbers as shown below. These two numbers should be the same isn't it? Or am I missing something- would appreciate if you give some advice?
[code]

Also, how to interpret zero pvalues? Is it still significant?

Thank you

[2021-06-02 04:20] sqjin commented on #214
@jv-20 Yes, they should be the same. Can you please look into this issue in detail?

Pvalues with zeros are very significant.

[2021-06-02 04:26] sqjin commented on #204
@jv-20  You can also set the y-axis to be the same range for better comparison.

Yes, your understanding is correct. This analysis help to identify the major cell populations with significant signaling changes between two conditions.

[2021-06-02 06:16] sqjin commented on #213
@VUbels It seems that the data you shared is the average expression per cell population. CellChat requires a data matrix and cell group information.

[2021-06-02 09:00] jv-20 commented on #204
Many thanks @sqjin

[2021-06-02 09:43] jv-20 commented on #214
Hi @sqjin  the discrepancy seems to be filter on whether pval<=0.5 or pval<0.05

[code]
It would be good to fix this for the adjacency matrix of (cellchat.obj@net$count) so we get the same number.

Thank you again for this beautiful package and your prompt replies.

[2021-06-03 01:54] yjgeno commented on #207
Hi, @sqjin
do you also have the processed data with the cell annotations that you used in the paper? Thank you

[2021-06-03 04:08] dmsalsgh97 opened #215 "Can I use 2 different dataset(seurat) for CellChat analysis?"
Hi, thanks for developing wonderful DB and many visualizations!

I want to know that merging 2 different sources of datasets(Seurat) and, use it as CellChat input is valid.

In my case, I have 2 datasets: A. is containing only immune cells ( mine ) , and B. is containing surroundings ( GEO )

I want to know that my immune cell types have any crosstalk on specific tissue conditions,
But unfortunate

[2021-06-03 04:26] sqjin commented on #207
@yjgeno Please check the CellChat tutorial on the link of processed data.

[2021-06-03 04:32] sqjin commented on #214
@jv-20 Thanks! Will fix it.

[2021-06-03 04:33] sqjin commented on #215
@dmsalsgh97 Yes, you can merged two datasets together and use a single data matrix as an input of CELLCHAT

[2021-06-03 04:46] dmsalsgh97 commented on #215
Thanks! I'll try this

[2021-06-03 04:46] #215 closed

[2021-06-03 09:27] futmoon commented on #206
it is solved:). it turns out to be caused by "(" ")" in cellchat@idents.

[2021-06-03 16:14] yjgeno commented on #207
Hi @sqjin thanks! There was the human skin dataset.
I was wondering if I could also get access to your mouse skin dataset you used in Fig.2?
The raw data does not contain the annotations of subclusters

[2021-06-04 22:51] sqjin commented on #207
@yjgeno You can download the wound healing data [here](https://www.dropbox.com/s/s79ieudlffhgyji/data_wound_CellChat.rda?dl=0)

[2021-06-04 23:22] lizanyu commented on #201
@zqun1 I just shared my repository with you! Thanks for your help!

[2021-06-04 23:39] lizanyu commented on #210
@sqjin I shared my repository with you (also for issue #201) -- I assume I'm just not selecting the correct 'idents.use'?? Thanks for your help!

[2021-06-05 19:33] yjgeno commented on #207
@sqjin Thank you! It helps a lot

[2021-06-07 01:42] VUbels opened #216 "Allocating labels to cell groups of SEURAT objects."
Hi!

Once again asking for help in a (hopefully) tiny matter this time. After a bit of an idiotic question previously I managed to basically get the entire CellChat script working! The only problem I had is that due to importing a SEURAT object, and using label-free mode, I'm currently seeing all my results in groups (1-10) as expected. However, I'd now like to name each group according to their m

[2021-06-07 06:06] sqjin commented on #216
@VUbels I suggest you to name a cell group in Seurat object before running CellChat. If you really want to do it in CellChat, you can check `addMeta` and `setIdent` functions. But you need to re-run all the functions and analysis after the function `computeCommunProb`.

[2021-06-10 13:41] #209 closed

[2021-06-10 15:51] MariaRosariaNucera opened #217 "Customize Bubble Plot"
Hello,
let's say I have 5 cell groups, but I want a bubble plot with the interaction of only some precise couples of them, for example
group1->group1, group2->group3, group4->group5. Is there a way to have all of them in the same plot?
I am able to get one of them using:
netVisual_bubble(cellchat, sources.use = 1, targets.use = 1)
But if I try selecting more like this:
netVisual_bubble(cellchat, s

[2021-06-11 09:24] MariaRosariaNucera opened #218 "Pvalue correction"
Hello,
First of all I would like to thank you for the useful tool :)
I was wondering which correction method did you use to adjust the pvalue when calculating overexpressed genes with the function "identifyOverExpressedGenes".
I tried calculating the differential expressed genes in my dataset using Scanpy function "scanpy.tl.rank_genes_groups" with Bonferroni correction but I am unable to find mos

[2021-06-12 15:00] sqjin commented on #217
Hi @MariaRosariaNucera You can try another version of this function, which defines the corresponding sources and targets by `from` and `to`. Please see below. If you want to use the current version, one way you can try is as follows.
1) Use `subsetCommunication` to find the related L-R pairs.
    df.net <- subsetCommunication(object, slot.name = "net",
                                  sources.use

[2021-06-12 15:14] sqjin commented on #218
@MariaRosariaNucera Currently CellChat did not use any correction method after computing the p-values. One of the reason is that we did not want to filter out two many ligands receptors at this initial step.  But I can also add the `bonferroni` correction as an option.

You can also use your own HVGs by setting `object@var.features[["features"]] <- features.sig`

[2021-06-12 17:38] MariaRosariaNucera commented on #217
Thank you for you answer! I tried the your 3 steps:
in step2 I created df.net.subset keeping only the rows of df.net with my couples of groups of interest,
but then in step3 I got a dimension error
 Error in `$<-.data.frame`(`*tmp*`, "interaction_name_2", value = character(0)) :
  replacement has 0 rows, data has 32 ,
so I had to do netVisual_bubble(cellchat, pairLR.use = df.net.subset['interactio

[2021-06-12 17:43] MariaRosariaNucera commented on #218
Thank you! If you could add this option it would be great :)
At which step of the analysis would be better to assign the var.features?

[2021-06-12 19:47] sqjin commented on #218
@MariaRosariaNucera Instead of running this function, you can directly assign this list of genes.

[2021-06-12 19:57] MariaRosariaNucera commented on #218
Ok I got it, thank you :)

[2021-06-12 20:04] #218 closed

[2021-06-14 02:17] wajm opened #219 "dot size option?"
netAnalysis_signalingRole_scatter(cellchat)
netAnalysis_dot(cellchat, pattern = "incoming")

Is there any option for dot size/ parameter size change?

[2021-06-14 07:15] MariaRosariaNucera commented on #219
You can try  the parameter "dot.size"

[2021-06-15 03:19] zh-Bian commented on #210
I think I find this error in subsetCellChat. The reason arises in the last step of building the CellChat object. The code for 'meta.subset' will be factor when the meta only have a col in 'meta.subset <- object@meta[cells.use.index, ]'. So I add One more step when to select the new meta.subset. The code like this.

  if (ncol(object@meta)==1) {
    meta.subset <- data.frame(row.names = rownames(ob

[2021-06-15 12:47] charlesgwellem opened #220 "Comparison analysis of multiple datasets with different cellular compositions."
Thank you for your very helpful package. A single cell RNA sequencing experiment was done in my lab some 3 years ago on cells that were sorted and treated with a profibrotic agent. I wish to see if these cells sorted 3 years ago play a role in the disease through interaction. I have found another single cell RNA  seq data set online of the same disease performed in another lab, in another country

[2021-06-15 14:25] MariaRosariaNucera opened #221 "How to keep only some interaction in cellchat object"
Hi @sqjin
I am working on a dataset with 16 clusters.
I only care about the following interactions pairs:
1-1, 2-3, 3-2, 4-4
5-5, 6-7, 7-6, 8-8
9-9, 10-11, 11-10, 12-12
13-13, 14-15, 15-14, 16-16
how to I delete the other couples of interactions from the cellchat object? Can I totally avoid to calculate them from the beginning?
I am very much looking forward to your answer.

[2021-06-15 15:13] MariaRosariaNucera commented on #221
Now I am doing like this:
cellchat@net$prob[1,2, ] <- 0
cellchat@net$prob[1,3, ] <- 0
cellchat@net$prob[1,4, ] <- 0
cellchat@net$prob[1,5, ] <- 0
cellchat@net$prob[1,6, ] <- 0
cellchat@net$prob[1,7, ] <- 0
cellchat@net$prob[1,8, ] <- 0
cellchat@net$prob[1,9, ] <- 0
cellchat@net$prob[1,10, ] <- 0
cellchat@net$prob[1,11, ] <- 0
cellchat@net$prob[1,12, ] <- 0
cellchat@net$prob[1,13, ] <- 0
cellchat@n

[2021-06-16 06:40] ParGol544 commented on #215
Hi,
Thanks a lot for developing such a wonderful package.
Can I merge two CellChat databases with the same cell population but with different cell number? Is it important the number of cells in each database (e.g I have two Seurat objects one with 3000 cells and another one with 4000 cells with the same cell population)?

[2021-06-16 06:42] sqjin commented on #215
@ParGol544  it is ok, you can merge it.

[2021-06-16 06:51] ParGol544 commented on #215
Thanks for your reply. Does it affect on the number of interactions when I compare two databases with different cell number?

[2021-06-16 08:02] phoebee-h opened #222 "Question in comparing two dataset"
Hi,

I saw your tutorial for merging two datasets (object1 and object2), but I got three questions not quite specified in the documents.

(1) Can I apply `netVisual_individual` after merging two cellchat objects together? I would like to see whether the certain L-R pair distinguished among merging datasets.

(2) The `liftCellChat` solves the problem in different composition when combining two data

[2021-06-16 10:07] BatLaB-cell opened #223 "How to transfer metadata group from v3Seurat object to CellChat and how to use it properly?"
Hello,
Using your nice tutorial, I successfully created a CellChat object from my previous v3 Seurat object named "allbiopsies.integrated" using the following codes:

DefaultAssay(allbiopsies.integrated) <- 'RNA'

#Extract the CellChat input files from a Seurat object
#The normalized count data and cell group information can be obtained from the Seurat object by

data.input <- GetAssayData(allbiop

[2021-06-16 12:39] kimd17 commented on #211
Hello. I also cannot seem to get that function to work.
cellchat <- netEmbedding(cellchat, type = "functional") seems to throw: "LLVM ERROR: Symbol not found: __syml_sqrtf8"
And my R session disconnects.
I'm using R version 4.1.0 and RStudio v1.4.1.

[2021-06-16 15:42] sqjin commented on #211
@kimd17 Can you share your cellchat object and the related codes?

[2021-06-16 15:46] sqjin commented on #223
@BatLaB-cell When performing comparison analysis, you should run cellchat for each condition/dataset individually, and then use the mergeCellChat fucntion to perform the comparison analysis.

If your inout meta have multiple columns, you will see all information in cellchat object

[2021-06-16 15:58] sqjin commented on #222
@phoebee-h
(1) it should work, as you can see in our tutorial
pathways.show <- c("WNT")
weight.max <- getMaxWeight(object.list, slot.name = c("netP"), attribute = pathways.show) # control the edge weights across different datasets
par(mfrow = c(1,2), xpd=TRUE)
for (i in 1:length(object.list)) {
  netVisual_aggregate(object.list[[i]], signaling = pathways.show, layout = "circle", edge.weight.max =

[2021-06-16 15:58] sqjin commented on #215
@ParGol544 No, our method is based on cell group, independent on the cell number.

[2021-06-16 16:03] sqjin commented on #221
@MariaRosariaNucera Generally, you can do it by using the `subsetCellChat` function or defining the `sources.use` and 'targets.use' parameter in some related functions. However, your case looks complicated, which seems impossible to write a general codes.  For you case, instead of setting other elements to be zero, you can only assign values to the pairs you selected because you have very few numb

[2021-06-16 16:04] sqjin commented on #220
@charlesgwellem yes, you can use the default pipeline to do it.

[2021-06-16 16:05] sqjin commented on #220
@charlesgwellem It is better you can use the same normalization methods for both datasets.

[2021-06-16 16:15] sqjin commented on #217
@MariaRosariaNucera Sorry, I suppose to attach the codes. But it is too long. Anyway, here is the [code](https://www.dropbox.com/s/h8w9z9njtu87afv/netVisual_bubble_old?dl=0)

[2021-06-16 16:46] charlesgwellem commented on #220
@sqjin Thank you very much. I also wish to ask if batch effects won't be an issue. Are there methods in cellchatr also robust to batch effects?

[2021-06-17 07:10] MariaRosariaNucera commented on #217
Thanks you @sqjin

[2021-06-17 07:10] #217 closed

[2021-06-17 07:36] #221 closed

[2021-06-17 09:02] phoebee-h commented on #222
Hi,
Thank you for your quick response!

I think my first question you've already demonstrated in single object condition (visualize cell-cell communication mediated by a single ligand-receptor pair), but I'm confused by this:
Apart from structural/ functional analysis, does it make any differences in plotting chord diagram (shared same cell population compositions)? For example, in these chord plo

[2021-06-17 16:17] ParGol544 opened #224 "netAnalysis_signalingChanges_scatter"
Thank you for developing such a wonderful package.
what does negative value mean in netAnalysis_signalingChanges_scatter?

[2021-06-18 10:29] BatLaB-cell commented on #187
@mcap91 Do you mean you run the following code for each cell chat object before merging them in the object.list?

cellchat.dataset1<-netAnalysis_computeCentrality(cellchat.dataset1)

When I tried on each individual cell chat objects, I also get the error:

Error in if (nrow(adjmatrix) != ncol(adjmatrix)) { : argument is of length zero

@sqjin Any suggestion about this error?

[2021-06-19 09:45] ylxing001 opened #225 "liftCellChat issue"
Hi,
I get the following error after using liftCellChat function:

[1] "0" "1" "2" "3"

[1] "0" "1" "2"

[1] "0" "1" "2"

The CellChat object will be lifted up using the cell labels 0, 1, 2, 3
Update slots object@net, object@netP, object@idents in a single dataset...

[1] "0" "1" "2" "3"

The CellChat object will be lifted up using the cell labels 0, 1, 2, 3
Update slots object@net, object@netP, ob

[2021-06-19 17:05] sqjin commented on #225
@ylxing001 The cell identify can not start from "0". You should assign a new label.

[2021-06-19 17:13] sqjin commented on #224
@ParGol544 Positive values mean increased signaling in the second condition, and negative values mane increased signaling in the first condition

[2021-06-19 17:14] laijen000 opened #226 "pvalue in netvisual_bubble for comparing datasets"
Thank you for this great tool!

I wanted to clarify the meaning of the p-value in netvisual_bubble when identifying signaling pathways increased in one dataset over another.
![image](https://user-images.githubusercontent.com/60332673/122650335-4ef7cd00-d100-11eb-9a4b-5e4ac2d3aa4b.png)

Does the p-value mean the L-R pair communication prob is significantly increased in one condition over the other?

[2021-06-19 17:15] sqjin commented on #211
@kimd17 You can find an email in the README file. Thanks

[2021-06-19 17:21] sqjin commented on #220
@charlesgwellem CellChat does not have specific functions to address batch effects. I would suggest you to check the expression levels of housekeeping genes. If these genes show similar expression levels across different datasets, then there is only little batch effect.

[2021-06-19 17:22] sqjin commented on #222
@phoebee-h No difference. They represent the same network.

[2021-06-19 17:29] sqjin commented on #226
@laijen000 p-values is the significance levels of communication, and NOT the statistical test between two conditions.   Yes, colors indicate whether the interaction strength is increased or not.

[2021-06-19 17:30] #198 closed

[2021-06-19 17:31] #193 closed

[2021-06-19 17:31] #186 closed

[2021-06-19 17:31] #185 closed

[2021-06-19 17:32] #219 closed

[2021-06-19 17:33] #216 closed

[2021-06-19 17:33] #213 closed

[2021-06-19 17:33] #214 closed

[2021-06-19 17:33] #212 closed

[2021-06-19 17:34] #206 closed

[2021-06-19 17:34] #202 closed

[2021-06-19 17:35] #223 closed

[2021-06-20 01:14] ylxing001 commented on #225
@sqjin Thank you Suoqin. It worked. Now I've encountered another problem:

Error in match.names(clabs, names(xi)) :
  names do not match previous names

Thanks!

[2021-06-21 15:32] Chanele13 opened #227 "Significant interaction results between two cell types in df.net, but not in cellchat@net$count"
![Screen Shot 2021-06-21 at 11 23 36 AM](https://user-images.githubusercontent.com/86248381/122787313-34019600-d283-11eb-95f4-88534b1df8bb.png)

Hi!

Could you please help me out with this problem:

I run the code "df.net <- subsetCommunication(cellchat, sources.use = c(35), targets.use = c(2))" and get the table attached to this post where there are some ligand-receptor interactions between my 2

[2021-06-22 03:10] phoebee-h commented on #222
OK, got it. Thanks a lot.

[2021-06-22 03:10] #222 closed

[2021-06-22 03:26] ylxing001 commented on #225
I checked that I've got different column names in object.list$db@meta between datasets, so I changed their names and it worked! Thank you!

[2021-06-22 03:26] #225 closed

[2021-06-22 08:26] s849 opened #228 "Cell-cell communication matrix - individual cells"
I am wondering if it is possible to obtain a matrix of individual cell-cell communication values instead of the cluster one?

[2021-06-22 11:43] michaelkutza opened #229 "Comparing cell populations with different amounts of cell"
Hi there,

I currently analyzing a dataset with the same cell types in two conditions. Unfortunately most cells belong to one condition. Does cellchat have a way to 'regress' that out in the compared analysis?

Thanks for developing such a lovely tool!

[2021-06-22 12:32] BatLaB-cell opened #230 "Error in netAnalysis_signalingRole_scatter : Please run `netAnalysis_computeCentrality` to compute the network centrality scores!"
Dear cell chat users,

after using mergeCellChat  encompassing different cellchat objects (C1,C2,C3,C4), I successfully run the downstream analysis with netVisual_diffInteraction for instance.

My issue arrives when I run the following codes:

num.link <- sapply(object.list, function(x) {rowSums(x@net$count) + colSums(x@net$count)-diag(x@net$count)})
weight.MinMax <- c(min(num.link), max(num.link)

[2021-06-22 12:43] hahia commented on #201
I also have this problem
when I do
`netVisual_diffInteraction(cellchat, weight.scale = T, comparison = c('Normal', 'Tumor'), targets.use = 'CC')`
there have error

[2021-06-22 14:12] sqjin commented on #229
@michaelkutza Why not remove these cell groups before running cellchat?  You can also use the subsetCellChat function or define sources.use and targets.use in certain functions.

[2021-06-22 14:22] michaelkutza commented on #229
@sqjin I want to compare the two conditions. Is it be feasible if 60-80% of all cells belong to one condition?

[2021-06-24 18:35] bharatm26 opened #231 "Error in netAnalysis_computeCentrality"
Hi,
I am getting errors while computing and visualize the network centrality scores on in-house data.

Code:
[code]
The error is:
Error in igraph::betweenness(G) : At centrality.c:1604 : Weight vector must be positive, Invalid value

Please help me fix the issue.

Thanks

[2021-06-25 07:03] ylxing001 opened #232 "Issue with computeCommunProb function"
Hi Suoqin,

After updating CellChat, I found the computeCommunProb function is not working anymore.

  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=00s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=00s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=00s
  |++++++++++++++++++++++++++++++++++++++++++++++++++| 100% elapsed=00s
  |++++++++

[2021-06-25 20:56] yjgeno opened #233 "Two circle plots comparable"
Hi, I have control and treatment datasets and when I call netVisual_circle to draw two circle plots,
is there any way to make the edge thickness comparable? That being said, show two plots with their edge thickness normalized in the same range? I believe it would give me relative weight assigned to each thickness if I draw plots separately

Thank you!

[2021-06-26 14:13] sqjin commented on #233
@yjgeno Yes, you can do it by

weight.max <- getMaxWeight(object.list[1:2], slot.name = c("netP"), attribute = pathways.show)
    netVisual_aggregate(object.list[[i]], signaling = pathways.show, layout = "circle", edge.weight.max = weight.max[1], edge.width.max = 10, signaling.name = paste(pathways.show, names(object.list)[i]),
             color.use = color.use.list[[i]])

[2021-06-26 14:16] sqjin commented on #232
@ylxing001 Now I removed such information. You should be OK now.

[2021-06-26 14:19] sqjin commented on #231
@bharatm26 I guess this error happens because there are negative values in your input data. Please check cellchat@data.

When extracting data from seurat object, you should do it by `data.input = GetAssayData(w10x, assay = "RNA")`

[2021-06-26 14:23] sqjin commented on #230
@BatLaB-cell This is unexpected. Yes, you need to run netAnalysis_computeCentrality code for each cell chat objects I merged before merging.

Can you run the source codes to examine the reason for such error? Please check the 'Help' section in the README file in this github.

[2021-06-26 14:24] sqjin commented on #229
@michaelkutza Based on my experience, this is unexpected.

[2021-06-26 14:25] sqjin commented on #228
@s849 Sorry, CellChat only returns cell-cell communication among cell groups.

[2021-06-26 14:32] sqjin commented on #227
@Chanele13 There is no issue when I just tried it.

[2021-06-27 00:54] ylxing001 commented on #232
@sqjin Sorry, could you please provide more information? I still couldn't get it worked. Would it be possible to provide the older version of source code for computeCommunProb function?

[2021-06-27 14:52] yjgeno commented on #233
@sqjin thank you! I also found a piece of code in #222 and it works
if I understood your code right, basically we normalized the weight of edges (here stands for the strength of interaction) of both objects to the range of [0, weight.max]?

[2021-06-27 15:07] yjgeno commented on #233
In addition, if I wanted to show the difference between two groups globally, meaning using all the enriched values in net

`par(mfrow = c(2,2))
for (i in 1:length(object.list)) {
  netVisual_circle(object.list[[i]]@net$count, vertex.weight = as.numeric(table(object.list[[i]]@idents)), weight.scale = F,
                   label.edge= F, title.name = "Number of interactions")
  netVisual_circle(obje

[2021-06-27 21:08] SohaibRU opened #234 "Error in as(data, "dgCMatrix") : no method or default for coercing “data.frame” to “dgCMatrix”"
I am trying to create a cellchat object from a seurat file but I keep getting this error. I have transformed my own scanpy h5ad files to serurat files so maybe its stemming from that but I'm unsure. I tried to add this line of code to fix it

object<- as (as(object, "matrix"), "dgCMatrix")

but that did not solve it. Any help is greatly appreciated!

[2021-06-28 12:22] jojob123 opened #235 "Error in visualizing chord diagram"
Hi,
I'm getting errors when trying to plot the chord diagram in "Inference and analysis of cell-cell communication":
# Chord diagram
par(mfrow=c(1,1))
netVisual_aggregate(cellchat, signaling = pathways.show, layout = "chord")
#> Note: The first link end is drawn out of sector 'Inflam. FIB'.

It gives the error:
Error: not enough space for cells at track index '2'

I tried: "netVisual_aggregate(cel

[2021-06-28 16:06] bharatm26 commented on #231
Thanks for the reply. It worked by selecting RNA as an assay.

[2021-06-29 18:14] Chanele13 commented on #227
Hi @sqjin Thanks for your answer.

Do you meant that the number of interactions that you see in the table that you get from "df.net" is the same that you get in the table from the code "cellchat@net$count"? Because me I get just a list of 0 as shown in the picture attached here (where the set of cells 35 is "term_not" and the set of cells 2 is "alveolar macrophages".

Any idea why that would be? T

[2021-06-30 09:59] BatLaB-cell commented on #232
@ylxing001 Is your cell chat objects derived from a Seurat object?

I had the same error because my Seurat object was normalized with the function SCTransform and not with the classical normalization. Since I change the way I normalize my Seurat object, I don't have this error anymore

[2021-06-30 09:59] BatLaB-cell commented on #230
@sqjin how can I run the source codes?

[2021-06-30 17:31] sqjin commented on #235
@jojob123 You can reduce the parameter values of `small.gap` and `big.gap`. If still does not work, you can use `netVisual_chord_cell` and `netVisual_chord_gene` to control these parameters.

[2021-06-30 17:34] sqjin commented on #234
@SohaibRU Have you checked the suggestions in the tutorial `Interface with other single-cell analysis toolkits (e.g., Seurat, SingleCellExperiment, Scanpy)`. You may can try different methods to convert the scanpy object to seurat?

You can also directly extract the data matrix and meta data information from scanpy, and then use them as input of cellchat.

[2021-07-01 06:04] jojob123 opened #236 "Small size Chord diagram"
Hi,
When I run the following lines, it plots a really small chord diagram. Is there a way to increase the size of the chord diagram so I could see it better?

# show all the significant interactions (L-R pairs) from some cell groups (defined by 'sources.use') to other cell groups (defined by 'targets.use')
# show all the interactions sending from Inflam.FIB
netVisual_chord_gene(cellchat, sources.u

[2021-07-01 06:14] jojob123 commented on #235
@sqjin I reduced the values, but now it says:
Error: not enough space for bottom margin of cells at track index '2'.

Could you clarify what you mean by using netVisual_chord_cell and netVisual_chord_gene to control these parameters?

Thanks for the reply.

[2021-07-01 23:18] SohaibRU commented on #234
@sqjin thank you, i have ran the code to extract the cellchat input from my scanpy file but now I am getting this error.

Error in py_module_import(module, convert = convert) :
  ModuleNotFoundError: No module named 'anndata'

I see online this could be due to my python environment not being up to date but I'm unsure of how to fix this.

[2021-07-02 00:30] ylxing001 commented on #232
@BatLaB-cell Yes, my Cellchat objects were normalized with SCTransform. But they definitely worked until I updated CellChat. How did you change the normalization approach, by using ScaleData?

[2021-07-02 11:40] BatLaB-cell commented on #232
@ylxing001 Yes I gave SCT up and used the "classical" way of Seurat normalization and since Cellchat perfectly works. Hope it could solve your issue.

[2021-07-02 15:48] sqjin commented on #232
@ylxing001 @BatLaB-cell Thanks for reporting this issue. I will address this issue tomorrow.

[2021-07-02 15:50] sqjin commented on #236
@jojob123 I think it will look ok if you save it as local files.

[2021-07-02 18:17] cswoboda opened #237 "Bulk-RNA Seq recommended processing"
Hello!

I've been having issues adapting bulk rna seq data into cellchats pipeline. I want to compare the bulk rna sequencing reads of three purified celltypes with one purified celltype, and find whats up or down. Each sample has 2 replicates. I was hoping I could make three cellchat objects, one with one of three purified cell types, to compare to the second purified celltype.

However, when I d

[2021-07-04 18:17] rosana08 commented on #139
Hi, Thanks for the wonderful tool. Could you please help with an error in merging cellchat object?

An object of class CellChat created from a single dataset
 45068 genes.
 2297 cells.

An object of class CellChat created from a single dataset
 45068 genes.
 2125 cells.

$UCI
An object of class CellChat created from a single dataset
 45068 genes.
 2297 cells.
$CCI
An object of class CellChat creat

[2021-07-05 02:00] ylxing001 commented on #232
@sqjin It would be great if you can solve the issue with SCT normalised data. I cannot use scale.data normalised data because all the other analyses (GO enrichment, DEG, pseudotime) were performed using SCT normalised data. Besides, I've generated a lot of CellChat plots from the SCT normalised data, which is not working after updating CellChat.

[2021-07-05 05:30] sqjin commented on #232
@ylxing001 Yes, I will do it. But another way to do it is

data.input = GetAssayData(w10x, slot = "data", assay = "SCT")
meta = w10x@meta.data
meta$labels = meta$final.clusters
cellchat <- createCellChat(data.input, meta = meta, group.by = "labels", do.sparse = F)

[2021-07-05 13:30] qffighting commented on #234
I also meet the same problem that the error is as followed:
Error in as(data, "dgCMatrix") :
  no method or default for coercing “function” to “dgCMatrix”

[2021-07-05 14:25] bieniu777 opened #238 "Question about Part II of "comparing datasets" - up- and downregulated pathways based on differential gene expression"
Hello,

I am following you tutorial for "Comparison analysis of multiple datasets using CellChat" and I would like to understand one part a bit better: "Identify dysfunctional signaling by using differential expression analysis".

I have three datasets in my analysis. When I want to find upregulated genes in just the first dataset (WH), I run this code:
[code]

This works fine, but I don't know wh

[2021-07-05 14:32] qffighting commented on #234
I have solved my problem and I think that the help in R is very helpful. My input data is seurat  object and I didn't extract the cellchat input from my seurat file and I just followed the package help and use my seurat object as my input data :cellchat <- createCellChat(object = seurat.obj, group.by = "seurat.clusters"). no error occurred.
I found that there were some example in the R help and ma

[2021-07-05 14:35] sqjin commented on #238
@bieniu777 In identifyOverExpressedGenes, the differetial expression analysis is performed by comparing one dataset/clusters vs. all others.

For subsetCommunication, i will consider all the support the of two datasets. But you can also get one each time and then combine them together.

If you want to compare the first with the third by omitting the second one, this means that you will not use any

[2021-07-05 15:56] bieniu777 commented on #238
@sqjin Thank you very much.

The fact that it compares one dataset to all others is great.

Sorry, but in that case I'd like to double-check that visualise downregulated pathways in my first dataset as compared to all other datasets correctly.

With the upreulated pathways it seems pretty straightforwad, basically what I already pasted earlier:

[code]

But then, the turioral says that in order to

[2021-07-05 16:50] ljl-code opened #239 "How to get a subset from cellchat"
Hi, thanks for the wonderful tool. After merging CellChat objects, how to get a subset from CellChat? Thank you

[2021-07-06 13:00] cswoboda commented on #237
I know this issue is a little vague on details, so let me know if data inspection, cellchat object inspection screenshots, or any other information would be helpful!

[2021-07-06 13:18] sqjin commented on #237
@cswoboda Please make sure you use the correct database. cellchtDB.mouse or human?  In your case, for each object, I think your input should be a data matrix (gene * 2) with each replicate as one column.

[2021-07-06 13:41] cswoboda commented on #237
They're mouse so we're good there. Could you explain what you mean by (gene *2)? Here's my current workflow: genes are standard mm10 gene names used in Seurat. Here I'm making my two experimental replicates two columns, my three control replicates three columns, and grouping them in the analysis as S1 and C1 as celltypes.

count_matrix
x <- count_matrix
#subset out NA values from gene name column

[2021-07-07 01:09] SohaibRU commented on #234
I solved the problem by using my scanpy anndata instead following the cellchat tutorial. thanks for all the help everyone!

[2021-07-07 01:09] #234 closed

[2021-07-08 05:10] sqjin commented on #239
@ljl-code Hi, the function `subsetCellChat` should work for both individual and merged CellChat.

[2021-07-08 06:37] sqjin commented on #238
@bieniu777 It looks good to me. You may can also consider the requirement of percent of expressing cells.  Below is an example

  net.up <- subsetCommunication(object.merged, net = net, datasets = names(object.list)[i+1],ligand.logFC = 0.25, receptor.logFC = 0.25,ligand.pvalues = 0.05, receptor.pvalues = 0.05, ligand.pct.1 = 0.25, receptor.pct.1 = 0.25)
  net.down <- subsetCommunication(object.mer

[2021-07-08 06:51] sqjin commented on #237
@cswoboda I am not clear about your situation here. Remember that when you define celltype <- c("S1", "S1","C1", "C1", "C1"), it means that cellchat will infer interactions between S1 and C1. I guess this is not what you want?

[2021-07-08 07:25] sqjin commented on #232
@ylxing001 It now works for SCT normalised data.

[2021-07-08 08:22] sqjin commented on #139
@rosana08 Can you check the meta data of your two cellchat object and make sure they have the same column names?

[2021-07-08 08:29] bieniu777 commented on #238
Thank you very much

[2021-07-08 08:29] #238 closed

[2021-07-08 10:20] rosana08 commented on #139
Hi Suoqin Jin,

Many thanks for your response. The issue was because of NA columns in metadata, I could merge it by adding labels back to cellchat object using addMeta(). This is really an amazing tool!

Kind regards,
Rosana

[2021-07-09 02:48] phoebee-h opened #240 "Reorder but get the same pattern in "netAnalysis_signalingRole_network""
Hi,

I have successfully created the cellchat object, and would like to further examine the network of certain pathway. So,  `netAnalysis_signalingRole_network()` would be benefit in this case. (Thanks for development!)

However, I see a weird situation after `setIdent()`. Don't know why the column names (cell cluster order) seem to switch but the values do not move simultaneously.

[code]

Mentio

[2021-07-09 05:12] sqjin commented on #240
@phoebee-h Can you check the cellchat version you have? If it is v1.1.1, you can try the function `updateClusterLabels`, which should works.

[2021-07-09 06:04] ovela7 opened #241 "interaction can't find elsewhere"
Hi,I got a interaction named JAM2_ITGAV_ITGB1 , but I can’t find it by searching elsewhere.

http://www.cellchat.org/cellchatdb/ shows that it comes from KEGG: hsa04514.

But it was not found on https://www.genome.jp/kegg-bin/show_pathway?hsa04514,

is there something wrong? What is the source of the database or references for this interaction?

[2021-07-09 07:11] phoebee-h commented on #240
Thanks for the quick response.
No, it doesn't be solved even in v1.1.1. Do I miss any step by the following code? If no, I think there might be something wrong when creating the `slot(object, slot.name)$centr` in certain step.

[code]

On the other hand, I try to modify the `netAnalysis_signalingRole_network()` function to make it reasonable. Note that my idents were in numeric, so it could be sor

[2021-07-10 04:22] sqjin commented on #241
@ovela7 I think this is a mistake. It should be JAM2_ITGA4_ITGB1?

[2021-07-10 15:16] ColeKeenum opened #242 "How to view differential circle plot with single ligand-receptor pairs?"
Hello. I am really loving this package. It is confirming some effects that our group already has determined and is helping us find new ones.

I would like to view the circle plots like the one below but with only a single ligand-receptor pair shown. Is this possible with subsetting the cellchat object or some other method? Please let me know if possible. Thanks!

![image](https://user-images.githu

[2021-07-10 15:38] sqjin commented on #242
@ColeKeenum You can check the visualization part. Below are a piece of codes I used that might be helpful. You can also check subsetCellChat function.

    netVisual_aggregate(object.list[[i]], signaling = pathways.show, layout = "circle", edge.weight.max = weight.max[1], edge.width.max = 10, signaling.name = paste(pathways.show, names(object.list)[i]),
                        targets.use = NULL,

[2021-07-12 04:23] ovela7 commented on #241
Should I use JAM2_ITGA4_ITGB1 directly, or need to modify the database and recalculate?

[2021-07-12 04:25] sqjin commented on #241
@ovela7 You need to modify the database and recalcualte.

[2021-07-13 06:58] stemangiola opened #243 "Stop commands in case of 0 results instead of returning a valid (empty) object"
The code is quite full of

[code]

in case that no results are present. This is very detrimental to any workflow. In case results are present or not any internal and external function should return the same type of object with consistent formatting.

For example, if results are present

[code]
If no results are present

[code]

[2021-07-13 20:21] jad362 opened #244 "Running CellChat with a large dataset"
Hi, I am trying to run CellChat with a large dataset ~100,000 cells but the 'computeCommunProb' step repeatedly runs into memory issues. The object is already downsampled by identity class within Seurat down from 500,000 cells so I would like to not have to downsample the object further.

Do any options exist within the pipeline to decrease the memory requirement and make the algorithm more scalab

[2021-07-14 02:27] ColeKeenum commented on #242
@sqjin Thank you for your suggestion! One issue with the above code: How can I set the `color.use.list` value? I do not see `color.use.list[[i]]` anywhere else in this repository.

[2021-07-14 21:39] SohaibRU opened #245 "Error in ComputeCommunProb"
I am running scanpy anndata through CellChat and my code works except for when it gets to computing the communication probability. This is the error I get. ad <- import("anndata", convert = FALSE)

Create a CellChat object from a data matrix
Set cell identities for the new CellChat object
The cell groups used for CellChat analysis are  BcatD3 BcatD4 BcatD5 Cntrl1 Cntrl2

Rows: 2,021
Columns: 11
$

[2021-07-15 05:04] sqjin commented on #242
@ColeKeenum color.use.list <- list(color.use.object1, color.use.object2). `color.use.object1` is the vector defining color for each cell group in object1. You can also simply define color.use.list as a vector if color.use.object1 and color.use.object2 are the same. See my example above (color.use = color.use.wo4)

[2021-07-15 05:19] sqjin commented on #244
@jad362 Thanks for pointing this issue. I think the reason is due to the calculation of mean value per cell group. Can you try the following

1) Can you check if you have `do.fast = TRUE` option in the function `computeCommunProb`? If not, please update your cellchat package.
2) No parallel. do not run `future::plan("multiprocess", workers = 4) `.
3) set `nboot = 20`, which will run few times of p

[2021-07-15 05:22] sqjin commented on #243
@stemangiola Thanks for your suggestion. I think these stop commands are mostly in the visualization functions. In these functions, we only generate a plot without returning the data. Thus I think a simple stop is fine.

[2021-07-15 14:46] bieniu777 opened #246 "Problem with comparing datasets with different cell composition, subscript out of bounds"
Hello,

I have a problem with running the comparison between datasets that have different cell composition.

I prepared 3 seperate cell chat objects prior to merging. They differ by a few cell types. The majority is the same though. My LUAD dataset has all the cell types, whereas my LUSC and normal datasets are missing a few cell types.

I prepared the new merged cellchat according to the tutorial

[2021-07-15 15:01] sqjin commented on #246
@bieniu777 I have no idea on these errors except that you can reproducible example.  Did you have any issue when visualizing pathways.show <- c("COLLAGEN") for each object before merging them?

[2021-07-15 15:40] bieniu777 commented on #246
@sqjin, I have absolutely no problems with visualing pathways on pre-merged cell chats

for instance:
pathways.show <- c("COLLAGEN")
netVisual_aggregate(cellchat_MFTEE_normal, signaling = pathways.show, layout = "chord")

This works without any problems for each dataset.

This is how I created every cellchat, maybe the issue lies somewhere there as I changed one bit:

[code]

The only thing I chan

[2021-07-15 16:39] bieniu777 commented on #246
Hi, I ran the merging again from scratch (exactly as before), and got the following error:

_The cell barcodes in merged 'meta' is  p3t1_bcAZNS p3t1_bcGKCA p3t1_bcFRIJ p3t1_bcASEP p3t1_bcGQLC p3t1_bcCUAC
Merge the following slots: 'data.signaling','net', 'netP','meta', 'idents', 'var.features' , 'DB', and 'LR'.
Warning messages:
1: In mergeCellChat(object.list, add.names = names(object.list), cell

[2021-07-15 16:48] bieniu777 commented on #246
Hi @sqjin ,

It suddenly worked. I ran it again, without changes, and this time I didn't get the warning, and no errors. And I have no longer any problems with my code.
No idea what the issue was and how it got fixed, but it's fixed. Thank you.

[2021-07-15 17:06] bieniu777 commented on #246
Hi,

sorry for so many comments but I have a different issue with the merged object now - I can't see labels on some graphs.
For instance:

netVisual_bubble(cellchat,  sources.use = 2, targets.use = c(3:5), comparison = c(1,2,3), angle.x = 45)

This returns a nice dotplot but I can't see anything on the x axis. I see ligand-receptor pairs on the y axis, but no labels on the x axis whatsoever.

[2021-07-15 17:24] bieniu777 opened #247 "LiftCellChat changes expression patterns in shared cell types"
Hi,

I noticed something a bit worrying.

When I visualise pathway X in my single cellchat object I see it expressed by cell types A and B.
[code]

But then, when I run a comparison between three datasets with different cell composition, and I use liftCellChat function on this dataset:
[code]

It shows a diffeent expression of gene X in this dataset. Now it is expressed by cells A and C (and not B

[2021-07-16 05:36] sqjin commented on #247
Can you provide a reproducible example as below. Then I will find some time this weekend to check it.

library(CellChat)
check = readRDS("~/Downloads/sample.RDS")
netVisual_aggregate(check,
                    targets.use = c("FIB-A","FIB-P"),
                    signaling = "WNT",
                    layout = "circle")

# Throws error:
# Error in polygon(p[1, ], p[2, ], border = color, lwd = widt

[2021-07-16 05:42] sqjin commented on #245
@sqjin This might be related with the conversion of python object to R. Can you try other methods to convert it?

[2021-07-16 14:00] bieniu777 commented on #247
Hi @sqjin

I don't see this problem when using the data from your paper. I still see it with my data unfortunately.
But what I noticed is that when creating a heatmap before and after lifting up a cellchat object:

`netVisual_heatmap(cellchat_lusc, signaling = pathways.show, color.heatmap = "Reds")`

the order of my cells changes. In the tutorial data - the new labels are insterted without changin

[2021-07-16 15:44] jv-20 opened #249 "Limiting to certain cell types in netVisual_embeddingPairwise"
Hi @sqjin

I have a quick question. Is it possible to limit to certain celltypes when doing functional or structural similarity grouping analysis  with netVisual_embeddingPairwise?

I like how we could specify source/target cell types in rankNet to identify pathways that change the information flow in context of those celltypes. Just wondering if it is possible to do this in the functional/structu

[2021-07-16 20:53] yjgeno commented on #207
Hi @sqjin sorry I reopen this issue as wondering if any place I could find the original counts of the human skin data you used in your tutorial? The data downloaded from the provided link only has the normalized data (with cell labels)

Thanks again in advance!

[2021-07-18 12:30] Emily-Y21 opened #250 "Ligands and receptor of the pathway were expressed, but it can't be detected through cellchat"
I met a problem when using CellChat. I wanted to know whether the CLEC pathway existed in my data. First, I analyzed the expression of the ligand and receptor of this pathway in my data and found that ligands(CLEC2B, CLEC2C, CLEC2D) were expressed in my data.However, only CLEC2C-KLRB1 and not CLEC2B-KLRB1 were detected in the communication analysis.
I would like to ask why and how to solve it.

[2021-07-18 18:23] sqjin commented on #250
@Emily-Y21 This might be related with the method for computing average expression per cell group. You can try the "truncatedMean". For example, cellchat <- computeCommunProb(cellchat, type =  "truncatedMean", trim = 0.1)

[2021-07-18 18:30] sqjin commented on #249
@jv-20 For the first question, if you want to subset cell groups, you can use the subsetCellChat function to get a small CellChat object.

I have no idea on how to change the arrow size. But it definitely can be changed if you check how to do it using 'igraph'.  Note that the edge colors are consistent with the source nodes.

[2021-07-19 01:30] Emily-Y21 commented on #250
Thanks. I've solved the problem by running&nbsp;cellchat <- computeCommunProb(cellchat, type = "truncatedMean", trim = 0.1).

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "sqjin/CellChat"

[2021-07-19 14:45] jad362 commented on #244
Hi @sqjin thanks for your quick reply.
I originally had `do.fast = TRUE` and also tried running not in parallel and those changes did not solve the issue, but setting `nboot = 20` had it work right away, so thanks! Could you provide some insight on the drawbacks of decreasing that permutation parameter and how much confidence can I continue to have in the results?

Thanks

[2021-07-19 15:38] jad362 commented on #244
Also this is an unrelated question, but is there a method to group cells by a meta data variable not used for the analysis itself? For example create a summary plot of myeloid cell interactions as a whole with Endothelial cells when the analysis itself was run on more specific meta data variables?

thanks!

[2021-07-19 15:41] sqjin commented on #244
@jad362 Please check the tutorial on
`group.cellType <- c(rep("FIB", 4), rep("DC", 4), rep("TC", 4))
group.cellType <- factor(group.cellType, levels = c("FIB", "DC", "TC"))
object.list <- lapply(object.list, function(x) {mergeInteractions(x, group.cellType)})
cellchat <- mergeCellChat(object.list, add.names = names(object.list))`

[2021-07-19 17:24] cswoboda commented on #237
Hey @sqjin that's exactly what Im looking for actually. I want to do LR pairings of bulk rna seq reads of celltype S1 and bulk rna seq reads of celltype C1.

I'm able to create cellchat objects that have dgcMatrices in the cellchat@data and cellchat@data.signaling areas using the above method. However I still get a computecommunprob error with the Rsubunits subset. The database is the correct geno

[2021-07-19 20:51] chanpark17 opened #251 "CellChat Package Installation Error"
Downloading GitHub repo sqjin/CellChat@HEAD
Skipping 2 packages not available: Biobase, BiocGenerics
.
.
ERROR: lazy loading failed for package ‘CellChat’

 Warning in install.packages : package ‘Biobase’ is not available for this version of R

Error in library(CellChat) : there is no package called ‘CellChat’

#I've tried installing all the dependencies and re-installation of Xquartz as well.

[2021-07-19 23:27] #251 closed

[2021-07-20 06:30] geosen opened #252 "Select specific pathways in rankNet() function"
Hello sqjin,

congrats on your great tool!
I'm trying to compare two CellChat objects and in the function
gg1 <- rankNet(cellchat, mode = "comparison", stacked = T, do.stat = TRUE)
I cannot seem to find a way to limit the number of pathways shown (i.e. a parameter like "signaling =" or "pathways.show")
Is there a way I can achieve that?

Thank you for your time!

George

[2021-07-20 13:23] jv-20 commented on #249
Thank you @sqjin that's grand.

[2021-07-20 13:23] #249 closed

[2021-07-20 19:03] jad362 commented on #244
Thanks, that works!
Another note- when performing a `Bonferroni` correction on the ligand-receptor results (as stored in cellchat@net) would I be dividing by the total number of ligand-receptor pairs in the database I used or would I divide by the number of interactions I was modeling (i.e. the total number of cell type combinations)?

Thanks!

[2021-07-22 07:58] sqjin commented on #244
@jad362 I am thinking it should be the total number of L-R pairs, which is similar to differential expression analysis, where you divide by the total number of genes.

For your last question 'but setting nboot = 20 had it work right away, so thanks! Could you provide some insight on the drawbacks of decreasing that permutation parameter and how much confidence can I continue to have in the results

[2021-07-22 08:02] sqjin commented on #252
@geosen At present, rankNet does not support such function. But you can easily modify the code by subsetting the data frame for plotting. For example, you can make change of the data frame `df` before plotting `gg <- ggplot(df, aes(x=name, y=contribution, fill = group))`. Please check the related codes in this function.

[2021-07-23 17:44] florelesage opened #253 "CellChat Visualization between specified sources and targets"
I would like to calculate the aggregated cell-cell communication network between only a couple of source cell types and a couple of target cell types.

I'm using the following code:

##Calculate the aggregated cell-cell communication network
[code]

###Visualize
[code]

After running this code, I get the following error: Error in plot.window(...) : need finite 'xlim' values

Would you be able to h

[2021-07-23 18:19] wfma commented on #96
for others who may have the same problem, i did the following and it resolved the problem!

[code]

[2021-07-26 13:45] Varix commented on #96
confirmed @wfma and @sqjin solution fixed it for me also, running Ubuntu 20 LTS & R 4.0.3

[2021-07-27 09:23] dbdimitrov opened #254 "trim parameter not passed to mean func"
Hi Suoqin,

I was looking through the different means code and noticed that the `trim` parameter is not appropriately passed to the `thresholdedMean` function and it simply returns the non-truncated mean.

https://github.com/sqjin/CellChat/blob/0c1134066be7f731466c15a6b2c0114881864432/R/modeling.R#L897

I will do my best to come back to you about the linux parallelization soon - apologies for the

[2021-07-27 12:33] jv-20 opened #255 "netAnalysis_river for subset of pathways and order them based on similarity"
Hi @sqjin

Quick question on `netAnalysis_river` function.

I am trying to generate river plot for a set of pathways of interest and would like to order them based on similarity.

`netAnalysis_river(cellchat.obj, pattern = "incoming", do.order=TRUE,signaling = pathways_interest)`

However, I receive the following error when using do.order=TRUE.
`Error in hclust(d, "ave") : NA/NaN/Inf in foreign fu

[2021-07-27 20:23] pedriniedoardo opened #256 "differential comunication in a control vs disease dataset."
Hello, thank you for developing this wonderful tool.
I have an integrated dataset composed of control and diseased cells. At the moment I am using your tool running the analysis on the control cells and then on the diseased cells, highlighting the new pathways/pairs appearing or disappearing.
I was wondering whether there is a more straightforward approach, maybe specifying the experimental design

[2021-07-29 10:56] alhadjil commented on #111
Hi,

I've used following code on an Seurat scRNASeq object and I still get the same Error message

[code]

Then I followed the recommended steps and I got following results:

(1) I'm using the MouseDB and my scRNASeq dataset is from mice
(2) cellchat@data
![grafik](https://user-images.githubusercontent.com/85015541/127479677-99278f13-af21-4ccd-bf17-3486261c4f68.png)
(3) cellchat@data.signaling
![g

[2021-07-30 08:35] alhadjil opened #257 "computeCommunProb :Error in data.use[RsubunitsV, ]"
Hi,

I've used following code on an Seurat scRNASeq object and I still get the Error message bellow

[code]

This is the error I get:

After looking in the web I enounter following advice, which I followed (see bellow):

Then I followed the recommended steps and I got following results:

(1) I'm using the MouseDB and my scRNASeq dataset is from mice
(2) cellchat@data
![grafik](https://user-images.

[2021-07-30 15:14] jerrbearo opened #258 "Chord diagram issue: track index"
Hi, I'm getting errors when trying to plot the chord diagram in "Inference and analysis of cell-cell communication":
        for (i in 1:length(object.list)) {
             netVisual_aggregate(object.list[[i]], signaling = pathways.show, layout = "chord", signaling.name =
             paste(pathways.show, names(object.list)[i]))
       }

It gives the error:
        Error: not enough space for cel

[2021-08-01 06:33] sqjin commented on #253
@flolesage I tried it using the example in the tutorial, but I did not encounter any issue. You can also try the function 'subsetCellChat'

[2021-08-01 07:05] sqjin commented on #254
Hi Daniel @dbdimitrov

Thanks for looking into this. The truncated mean is actually pass via `"truncatedMean"` when running `computeCommunProb`.  The `thresholdedMean` is a different one and is not accessed by the users.

Hope all is going well with you too!

Best,
Suoqin

[2021-08-02 08:34] #254 closed

[2021-08-03 07:07] sqjin commented on #256
@pedriniedoardo Our current strategy is use run cellchat on each dataset and then perform comparison analysis.  In the tutorial, we provide an example how to combine differential expression analysis with cell-cell communication network. Please check the section `Identify dysfunctional signaling by using differential expression analysis`

[2021-08-03 07:10] sqjin commented on #257
@alhadjil Clearly, something is wrong in `unique(cellchat@idents)`. You should see the cell group information here.  This can be address via

identity <- data.frame(labels = labels, row.names = names(labels))

[2021-08-03 07:16] sqjin commented on #258
"netVisual_chord_cell and netVisual_chord_gene are two core functions for generating chord diagram, which has more parameters that users can control to custom your plot.  Have you tried these two functions with different setting of small.gap and big.gap?

[2021-08-03 07:20] sqjin commented on #255
@jv-20 Have you figure it out? If not, you can source the following codes.

#' River plot showing the associations of latent patterns with cell groups and ligand-receptor pairs or signaling pathways
#'
#' River (alluvial) plot shows the correspondence between the inferred latent patterns and cell groups as well as ligand-receptor pairs or signaling pathways.
#'
#' The thickness of the flow indicat

[2021-08-03 22:17] pedriniedoardo commented on #256
thank you for the explanation!

[2021-08-03 22:17] #256 closed

[2021-08-04 12:23] jerrbearo commented on #258
I did, I tried changing the values for small.gap and big.gap, but it still said there's not enough space at track index "1".
for (i in 1:length(object.list)) {
netVisual_chord_cell(object.list[[i]], signaling = pathways.show, layout = "chord", small.gap = 0.1, big.gap = 0.3, signaling.name = paste(pathways.show, names(object.list)[i]))
}

Any other ways on how I could fix that? Thanks!

[2021-08-04 15:28] jv-20 commented on #255
Hi @sqjin , Many thanks for this. I haven't figured out yet. I will try this and get back.

Thanks again

Kind regards

[2021-08-06 18:18] yjgeno commented on #207
@sqjin Hi really appreciate it if you could offer the skin dataset with raw counts

[2021-08-06 21:28] sqjin commented on #207
@yjgeno I am sorry I do not have the count data. I think the authors of the original paper did not provide it. You should contact them

[2021-08-07 04:05] zh-zhang1984 opened #259 "error reporting for"
Hi, thank you for your excellent package; but I CANNOT successfully solve the following issues:
[code]
The previous lines works well , but the last line of rankSimilarity reported error, do you have any hints for this?

[2021-08-09 06:13] superman2412 opened #260 "Updating CellChatDB by adding ligand-receptor pairs from OmniPath"
Hello again Dr. Jin @sqjin!

Hope you are doing well. I was wondering if you could help me update CellChatDB by adding ligand-receptor pairs using data from OmniPath?

OmniPath contains a remarkably high number of, manually curated, high quality interactions that will increase the quality of CellChatDB significantly. I have attached the data here below.

[all_interactions.csv](https://github.com/s

[2021-08-10 12:17] charlesgwellem opened #261 "Error in V(g) <- `*vtmp*` : could not find function "V<-""
Please is what could be the reason why I am not able to make hierarchy plots with the **netVisual_aggregate** function? I am howver able to use the same function on the same data to successfully make a circle or chord plot.

[code]
But the following line of code works

`netVisual_aggregate(cellchat, signaling = pathways.show,  vertex.receiver = vertex.receiver, layout = "circle")`

Thanks in advan

[2021-08-10 19:43] tjbencomo opened #262 "Interpreting netAnalysis_signalingChanges_scatter plots"
Hi. I'm trying to interpret a figure generated by `netAnalysis_signalingChanges_scatter` comparing NK cell signaling in two stages of cancer
<img width="638" alt="Screen Shot 2021-08-10 at 12 32 16 PM" src="https://user-images.githubusercontent.com/26121995/128923440-635f7260-6d3d-4250-8c0d-862b20f5a808.png">

I had a few questions:

1. Why is EGF/PARs a square when the strength only changes for o

[2021-08-11 00:47] daxianghuibian opened #263 "Error in computeCommunProb"
cellchat <- computeCommunProb(cellchat,raw.use = F,population.size = T)
Error in computeCommunProb(cellchat, raw.use = F, population.size = T) :
 Please check your input data matrix and ensure that you use the normalized data instead of count data!

sorry, I had used  normalized data, and other groups can run  successful except this group. All groups data were from one seuratobject.

[2021-08-11 04:53] weichloe opened #264 "A problem with a error message in identifyOverExpressedGenes in CellChat."
Hi @sqjin,
Fantastic work and package. I am a novice at using R programming. I encountered a problem when I use the function:  identifyOverExpressedGenes in CellChat.
After looking in the web, I confirmed I did the subsetData and checked `object@data.signaling.
I found my data.signaling matrix only has 2 x 2252. It looks like the gene names are disappeared. How did I solve this problem?
I am looki

[2021-08-11 23:34] sqjin commented on #262
@tjbencomo I noticed the first issue you mentioned. It should be a bug. Will address it in next few days.

Shared means both conditions have the outgoing and incoming signaling of this pathway associated with this population. You can visualize the inferred network to further check.

[2021-08-12 22:23] tjbencomo commented on #262
Thanks for answering both of those questions!

[2021-08-12 22:23] #262 closed

[2021-08-13 10:53] superman2412 commented on #260
@sqjin Would be very grateful to you if you could shed some light upon this issue.

[2021-08-13 15:04] xiaonian92 commented on #38
Hi Brandon-wxm and dear author, I have successfully set up a new database for pig by following your instructions. However, when I run `cellchat <- subsetData(cellchat)`, I got :`Issue identified!! Please check the offical Gene Symbol of the following genes: 469, 470, 471, 29, 30 ... ...`. And if I omitted this warning, I got very few df.net.
So, could you please give me some advice? Thank you so m

[2021-08-13 15:06] xiaonian92 opened #265 "Wrong in setting up new database"
Hi dear author, I have successfully set up a new database for pig by following your instructions in issue#38. However, when I run `cellchat <- subsetData(cellchat)`, I got :`Issue identified!! Please check the offical Gene Symbol of the following genes: 469, 470, 471, 29, 30 ... .... `And if I omitted this warning, I got very few df.net.
Could you please give me some advice? Thank you so much!

[2021-08-14 05:59] sqjin commented on #259
@zh-zhang1984 I am sorry I have no idea on this error. I can take a look if you can share me your object. You can also run the source codes line by line to figure out the reason.

[2021-08-14 06:01] sqjin commented on #261
@charlesgwellem It looks like it can not find the function from the igraph package.  can you do `library(igraph)`?

[2021-08-14 06:03] sqjin commented on #263
@daxianghuibian Can you show me your data in `object@data.project` and `object@data.signaling`

[2021-08-14 06:11] sqjin commented on #264
@weichloe It is surprising that there are only two rows in your data. Can you show me the codes related to the database?

[2021-08-14 06:14] sqjin commented on #265
Clearly, 469, 470, ... are not the gene names. If you can share me your new database, I can check whether you correctly format the related files.

[2021-08-14 06:23] sqjin commented on #260
@superman2412 Have you checked https://github.com/saezlab/liana? I think the convert function they provided could solve your issue. If you still have some issues, you can directly contact the first author of `liana`

[2021-08-14 06:24] sqjin commented on #258
@jerrbearo This is interesting. If you can share me your object, I can test it.  I did not have such issues before.

[2021-08-14 07:19] xiaonian92 commented on #265
Thanks! But I wonder how could I share the database to you? I tried `usethis::use_data(CellChat.pig, overwrite=TRUE)` but got error: `Path does not appear to be inside a project or package`. Now I'm trying to upload the four files to my own Giuhub repositories, I'm not good at doing this and I hope it will work. Is there other ways?

[2021-08-14 07:28] sqjin commented on #265
You can share me the files by sending email to `cellchat.package@gmail.com`. The `usethis::use_data(CellChat.pig, overwrite=TRUE)` can be done if you re-build CellChat package on your local computer. You can check how to build a R package.

[2021-08-14 09:29] xiaonian92 commented on #265
Hi, I already sent all files and code to this email address. Thanks!

[2021-08-14 09:33] xiaonian92 commented on #265
Hi, I already sent all files and code to this email address. And I also upload files to my repository [cellchat.pig](https://github.com/xiaonian92/cellchat.pig). Thank you for your kindly reply!

[2021-08-15 15:53] charlesgwellem commented on #261
@sqjin  You are right. Loading igraph worlks

[2021-08-15 17:58] aaronkwong opened #266 "Arrow missing from netVisual_chord_gene"
Hi CellChat Team,

I am encountering an issue where an arrow appears to be missing when I run netVisual_chord_gene on the "CX3C" pathway. Running other pathways produce chord plots as expected without issue.

When I create the chord diagram, it appears that space is made for the arrow, but one isn't drawn.
netVisual_chord_gene(cc_post, signaling = c("CX3C"),legend.pos.x = 8)
![image](https://user-

[2021-08-16 02:39] xiaonian92 commented on #265
Hello sqjin, good news! I have figured this error out. I checked cellchat.human and my database, and found there're some differences of the dataset type, and I tried to convert 'factor' type to 'charactor' (with lots of other troubles of course), finally I made it! Though I still got `issue identified!!`, but it only contains 8 aberrant genes, I decided to ignore them.
Thanks very much, anyway. Wi

[2021-08-16 02:49] sqjin commented on #266
@aaronkwong Interesting! It looks like another target is already drawn. Can you run the source codes of `netVisual_chord_gene` to check the input for the core plotting function `chordDiagram`?

[2021-08-16 03:39] alicekao1118 commented on #45
Hi,

I also got the same problem like @jv-20 , with the following error:

Issue identified!! Please check the official Gene Symbol of the following genes:
 H2-Q8 H2-T9 H2-T18 H2-Q9 H2-L H2-BI H2-D H60a H2-Ea-ps

I've looked up on NCBI for some of them, ex: H2-Q8, its official symbol on the website is exact the same (H2-Q8). So I'm just confused with this error. Will appreciate anyone's advice!

Th

[2021-08-16 06:11] #265 closed

[2021-08-16 10:57] bieniu777 commented on #247
Hello,

just to let you know this issue can be fixed if labels in seurat objects are factors before creating cellchats objects. That way, there are no issues with correctly labeling cell types after running LiftCellChat.

[2021-08-16 10:57] #247 closed

[2021-08-16 11:32] jv-20 commented on #45
Hi @alicekao1118

Another thing to check might be if the symbols are the same in the geneInfo you use for the cellchatDB?

[2021-08-16 14:37] aaronkwong commented on #266
@sqjin Thank you for the quick response. I added some print statements before the call to chordDiagram
[code]

Here is the result:
df.plot:
                  ligand receptor        prob
CX3CL1_CX3CR1.396 CX3CL1  CX3CR1  0.005746460
CX3CL1_CX3CR1.258 CX3CL1   CX3CR1 0.001922853

edge.color
Capillary Capillary
"#F781BF" "#F781BF"

grid.col
   CX3CL1    CX3CR1   CX3CR1
"#F781BF" "#B2DF8A" "#A6CEE3"

[2021-08-16 14:52] weichloe commented on #264
Hi @sqjin, Thanks so much for your reply. I re-created the metadata and
re-run the CellChatDB. The problem seems to be resolved.
But the mouse CellChatDB still has the following genes ( H2-Q8 H2-T9 H2-T18
H2-Q9 H2-L H2-BI H2-D H60a H2-Ea-ps )
 in our data matrix not to be identified.

weichole

#Set the ligand-receptor interaction database
CellChatDB<- CellChatDB.mouse
showDatabaseCategory(CellCha

[2021-08-16 14:54] weichloe commented on #264
Hi @sqjin,
Thanks so much for your reply. I re-created the metadata and re-run the CellChatDB. The problem seems to be resolved.
But the mouse CellChatDB still has the following genes ( H2-Q8 H2-T9 H2-T18 H2-Q9 H2-L H2-BI H2-D H60a H2-Ea-ps )
 in our data matrix not to be identified.

weichole

#Set the ligand-receptor interaction database
CellChatDB<- CellChatDB.mouse
showDatabaseCategory(CellCha

[2021-08-16 15:01] GBeattie opened #267 "Issue with weight/strength"
Hey,

I've managed to run a merged analysis and generate some plots, the plots showing the interaction counts look good, however when showing weights there's some issues. Firstly the weights don't plot on the compareInteractions plot, and when plotting the weights using netVisual_diffInteractions the differential goes the opposite way from the counts. I'm thinking this could be because I've used p

[2021-08-16 15:57] bieniu777 opened #268 "Question about the netMappingDEG function; NA values generated"
Hello,

I have a question about the part of the tutorial that looks for ligand-receptor pairs based on differential gene expression between different datasets.

I noticed that that code:

`net <- netMappingDEG(cellchat, features.name = features.name)`

generates quite a lot of NA values. Then, I can further subset ligand-receptor pairs based on logFC of ligands, logFC of receptors etc. This is gre

[2021-08-16 17:23] tjbencomo opened #269 "Question about communication probabilities"
Hi @sqjin,

Thanks for creating this really useful software. I am comparing signaling in a control and tumor condition. After merging control and tumor CellChat objects and following the tutorial, I run

[code]

and the top tumor specific signaling pathways (only present in the tumor and absent in the control) are PTN and ANXA1. When I examine the tumor pathway probabilities and p-values with `sub

[2021-08-16 23:43] iheartfoosball commented on #262
Hi guys,

@sqjin , thanks for the great package!

I am still a little confused regarding @tjbencomo 's 2nd question about the direction labels. What I understand is:
Incoming specific = in both conditions (eg cSCC and pSCC in this case), the pathway was identified as a significant communication pathway in this cell population but in the incoming direction only
Outoging specific = pathway is identi

[2021-08-17 01:36] sqjin commented on #262
@iheartfoosball @tjbencomo Please update the Package because I have fixed the bug when generating this plot.

@iheartfoosball Unfortunately, your original understanding is not correct. The word 'specific' here means whether it is specific to one condition. For example, if there is one pathway that only has outgoing signaling in cSCC but not in pSCC, then we claim it as outgoing specific in cSCC.

[2021-08-17 01:51] sqjin commented on #269
@tjbencomo The values of `prob` are relative. That is, we cannot say 0.8 is large or not, but we can say 0.8 is greater than 0.7. Therefore, this is no need to be worry about the specific values. Based on my experience, once CellChat indicates an either increased or decreased signaling that is interesting to you, you should check the inferred signaling network and the expression levels. This will

[2021-08-17 01:52] iheartfoosball commented on #262
@sqjin Thanks! I will update now.

I see, thank you for the explanation. So all pathways that are specific to 1 condition will have both a non-gray color to indicate which condition + a non-circle shape to indicate which direction (incoming, outgoing, or both), and all the gray-colored points must be circles since they are not specific to a condition. Am I understanding correctly now?

[2021-08-17 02:03] sqjin commented on #267
@GBeattie You can try `population.size = FALSE` as this parameter is not used to regress out the effect of population size. You can check the tutorial for detailed explanation.

It looks like there is some issue when generating the bar plot for interaction weight. However, I have no issue for my own datasets.

In some cases, the results from interaction number and interaction strength might be dif

[2021-08-17 02:09] sqjin commented on #264
@weichloe I think there are some issues for these gene names. I will fix them in the next version. If you are really concerned about these gene names, you can manually correct these gene names.

[2021-08-17 02:13] iheartfoosball commented on #262
Hi @sqjin , I updated to v1.1.3 and I still notice the issue that @tjbencomo pointed out. I've pasted a screenshot below and highlighted the points in question. These two pathways are labeled "Outgoing specific" but the strength is only changing for incoming interactions.

![image](https://user-images.githubusercontent.com/8459225/129652561-c9c77299-f107-4825-a309-dde46537c875.png)

[2021-08-17 02:19] sqjin commented on #262
@iheartfoosball， please visualize this signaling and you will find there is no issue because they have very small outgoing interaction strength.

[2021-08-17 02:22] sqjin commented on #266
@aaronkwong I am sorry I cannot see any issue.

[2021-08-17 02:33] iheartfoosball commented on #262
@sqjin , thanks, maybe I am still misunderstanding. A pathway colored red means it was **only** detected in the "CE" condition, correct? And if it is a triangle, it is **only** detected in the outgoing direction? How is it possible for such a pathway to have a differential incoming strength of around 0.2 (y-axis value on this plot) if there is no incoming interaction?

Sure, let's assume it's true

[2021-08-17 04:41] iheartfoosball opened #270 "netVisual_embeddingPairwise: error due to handling of 'pathway.remove'"
Hi,

Thanks for the great package!

It seems like there's an issue in netVisual_embeddingPairwise related to removing pathways. Pathways to be removed are identified in the similarity matrix, where each pathway is represented multiple times (once for each dataset). Each pathway in pathway.remove meets the removal condition of `colSums(similarity)==1` and is labeled accordingly (eg `Pathway1--Datas

[2021-08-17 05:08] iheartfoosball commented on #270
Same issue with netVisual_embeddingPairwiseZoomIn - both fix ideas should work for this one too.

[2021-08-17 13:03] GBeattie commented on #267
@sqjin Thank you for the speedy response!

I've run the analysis again using `population.size = FALSE ` and the weighted compareInteractions plot is now working. The values however are very low, and the differential between the two samples is still inverted when compared to the count plots (not shown below but similar to the network and differential heatmap plots shown before with `population.size

[2021-08-17 16:58] tjbencomo commented on #269
Thanks for commenting on this @sqjin

[2021-08-17 16:58] #269 closed

[2021-08-18 08:00] charlesgwellem opened #272 "Some cells do not show up on the outgoing but not on the incoming river plots."
![grafik](https://user-images.githubusercontent.com/10155881/129860926-ee113f87-d48a-4b6b-9f8b-3e477de177a0.png)

[2021-08-19 00:19] zpingfeng commented on #111
should the unique(cellchat@idents) be the cluster names?

I have 1) Use the correct CellChatDB: mouse ; 2)  the input data matrix cellchat@data, range from 0.00000 to 8.34498, dimension 14393 x 2814 ; 3)  the data matrix cellchat@data.signaling, range from 0.00000 to 8.34498, dimension 3000 x 2814; 4)  the cell group information is correct: unique(cellchat@idents): 1 to 11.

I still got  similar e

[2021-08-19 00:26] zpingfeng commented on #263
Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  ..@ i       : int [1:1197638] 0 23 30 43 47 53 72 77 81 85 ...
  ..@ p       : int [1:2815] 0 329 721 1094 1512 1895 2439 2941 3309 3767 ...
  ..@ Dim     : int [1:2] 3000 2814
  ..@ Dimnames:List of 2
  .. ..$ : chr [1:3000] "Rb1cc1" "Mybl1" "Gsta3" "Gm28836" ...
  .. ..$ : chr [1:2814] "AAACCTGAGCGCTCCA-1_1" "AAACCTGAGTATCGAA-1_1" "AAACC

[2021-08-19 00:29] zpingfeng commented on #257
should the unique(cellchat@idents) be the cluster names?

I have 1) Use the correct CellChatDB: mouse ; 2) the input data matrix cellchat@data, range from 0.00000 to 8.34498, dimension 14393 x 2814 ; 3) the data matrix cellchat@data.signaling, range from 0.00000 to 8.34498, dimension 3000 x 2814; 4) the cell group information is correct: unique(cellchat@idents): 7  1  5  8  4  9  3  2  10 11 6.

I

[2021-08-19 00:32] zpingfeng commented on #257
Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  ..@ i       : int [1:1197638] 0 23 30 43 47 53 72 77 81 85 ...
  ..@ p       : int [1:2815] 0 329 721 1094 1512 1895 2439 2941 3309 3767 ...
  ..@ Dim     : int [1:2] 3000 2814
  ..@ Dimnames:List of 2
  .. ..$ : chr [1:3000] "Rb1cc1" "Mybl1" "Gsta3" "Gm28836" ...
  .. ..$ : chr [1:2814] "AAACCTGAGCGCTCCA-1_1" "AAACCTGAGTATCGAA-1_1" "AAACC

[2021-08-19 00:34] zpingfeng commented on #257
[1] TRUE

[2021-08-19 00:40] zpingfeng commented on #257
Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  ..@ i       : int [1:5081829] 2 4 17 22 26 27 41 43 44 57 ...
  ..@ p       : int [1:2815] 0 1330 2953 4607 6350 7966 10091 12029 13481 15468 ...
  ..@ Dim     : int [1:2] 14393 2814
  ..@ Dimnames:List of 2
  .. ..$ : chr [1:14393] "Mrpl15" "Lypla1" "Tcea1" "Atp6v1h" ...
  .. ..$ : chr [1:2814] "AAACCTGAGCGCTCCA-1_1" "AAACCTGAGTATCGAA-1_1

[2021-08-19 05:22] BinDuan commented on #136
I have the same error when I tried to install this package, have you solved it and how?

[2021-08-21 08:24] tsengpy opened #273 "Suggestion: Circle plot for null interactions"
Instead of showing "Error in netVisual_aggregate(cellchat, signaling = pathways.show, layout = "circle") : There is no significant communication of XXX", would it be possible to show an empty plot (like seurat's feature plot with 0 expression)? Thanks.

[2021-08-21 15:07] sqjin commented on #273
Sure. I will consider it.

[2021-08-21 15:14] sqjin commented on #272
@charlesgwellem Can you check the associated heatmap plots?  When generating river plot, a cutoff will be applied to simplify the connections. There is no cutoff in the heatmap plots.  You can also modify the cutoff to see how it changes. If one cell group is not enriched in any pattern, it might be omitted in the river plot.

[2021-08-21 16:32] wfma opened #274 "anyway to get around precompiled binary requirement?"

[2021-08-21 16:33] #274 closed

[2021-08-21 23:19] sqjin commented on #270
@iheartfoosball Thanks! Option B makes sense to me!

[2021-08-21 23:35] sqjin commented on #268
@bieniu777 NA means that the ligand or receptor is not differentially expressed in that cluster.  You can check the DEGs by `DEG <- object.merged@var.features[[paste0(features.name, ".info")]]`

[2021-08-21 23:43] sqjin commented on #267
@GBeattie It is ok to have low values here because all the values are relative small based on the measure used in CellChat. We cannot say 0.05 is very small here, but we know a link with 0.06 is stronger than 0.05.

In terms of which one could better represent the biology,  I know some people prefer the number of interactions in the published papers. In your case, it showed that although there are

[2021-08-21 23:48] sqjin commented on #263
@zpingfeng It looks like the genes in the @data.signaling is not the signaling genes. e.g., "Rb1cc1" "Mybl1" "Gsta3" "Gm28836" ...  You cannot use the HVGs

[2021-08-21 23:48] #261 closed

[2021-08-21 23:51] sqjin commented on #136
@BinDuan Have you checked the issue #131 ? You need to  "Finally I have make it by locally installing, but the *.so and *.o files in the src directory should be removed before installing ."

[2021-08-21 23:52] sqjin commented on #257
@zpingfeng Yes, unique(cellchat@idents) are the cluster names

[2021-08-23 03:11] zhanglab2008 commented on #201
I have the same issue when I tried to show the cell types of interest but not all cell types. Here is the error:
[code]
I will take a look at your source and see if I can modify it.

[2021-08-23 04:17] zpingfeng commented on #263
Thanks for your beautiful work!
I can only have results of “Secreted Signalling” from one sample and “Cell-Cell Contact” from another sample. Is this an issue from my data or have I done something incorrectly?

[2021-08-23 09:31] GBeattie commented on #267
@sqjin Thanks for the response, I'm guessing there's some normalising that goes on that might generate these values. If it was possible to introduce some kind of p-value to comparative plots like compareInteractions that might be useful for determining real changes over small background level changes.

Good to know the interaction number is preferred, the outputs from the count plots agree with a

[2021-08-23 09:31] #267 closed

[2021-08-23 15:14] bieniu777 commented on #268
@sqjin Thank you

[2021-08-23 15:14] #268 closed

[2021-08-23 16:01] ccruizm opened #275 "Using population.size parameter"
Good day!

I have a question about whether I should or not use the `population.size = TRUE` parameter when calling `computeCommunProb`. I am integrating data from different platforms, and some sources come from sorted and others from unsorted experiments. Since I am reconstructing the tissue cell landscape in silico, I am assuming I should set `population.size = FALSE` but would like to have your

[2021-08-24 06:52] iheartfoosball commented on #270
Awesome, I sent a pull req :)

Hope you're doing well!

[2021-08-24 10:58] Manikgarg commented on #167
For me the solution provided by @lxwang326 works after changing
`Y <- runUMAP(Similarity, min.dist = 0.3, n.neighbors = k)`
to
`Y <- runUMAP(Similarity, min_dist = 0.3, n_neighbors = k)`
in function netEmbedding.

[2021-08-24 16:46] TapsiS opened #276 "Filter interactions based on a min umi count"
I am getting quite many interactions where the genes expressed are really low. Is there a way to filter out the interactions using a min threshold of counts or min. number of cells expressing the gene?

[2021-08-24 19:37] superman2412 commented on #260
@sqjin Thank you for your response. Unfortunately, that facility is not available in Omnipath / LIANA at this stage. More information can be obtained by the developers of Omnipath / LIANA on the following link.

https://github.com/saezlab/OmnipathR/issues/28#issuecomment-898859017

[2021-08-28 10:28] Manikgarg commented on #238
Thanks @sqjin ! I am in a similar situation and I have decided to merge two cellchat objects at a time to do the analysis. I noticed that in identifying the upregulated pathways, `receptor.logFC` is marked as `NULL` but wouldn't the signaling be reduced if the receptor has negative LFC? Sorry if I am missing something!
With this assumption, I was thinking of modify the code to:
[code]
Do you think

[2021-08-28 10:36] Manikgarg opened #277 "Suggestion on shortlisting down-regulated pathways"
Thanks @sqjin ! I am in a similar situation and I have decided to merge two cellchat objects at a time to do the analysis. I noticed that in identifying the upregulated pathways, `receptor.logFC` is marked as `NULL` but wouldn't the signaling be reduced if the receptor has negative LFC? Sorry if I am missing something!
With this assumption, I was thinking of modify the code to:
[code]
Do you think

[2021-08-29 02:02] wangkpro opened #278 "ERROR cellchat <- netClustering(cellchat, type = "functional")"
Hi, I'm simply trying to run the tutorial script in Rstudio, but am running into the following problem.

When running
cellchat <- netClustering(cellchat, type = "functional"),
I get the error message:
Error in socketConnection(localhostHostname, port = port, server = TRUE, : Failed to launch and connect to R worker on local machine ‘localhost’ from local machine ‘biohost’. * The error produced by

[2021-08-29 02:37] wangkpro commented on #278
I have solved this problem. It may be caused by the future::plan(), but I'not very sure.

[2021-08-29 08:45] JiaruiMi opened #279 "add new ligand-protein interaction"
Hello Dr. Jin

Would it be possible to add new ligand/protein interaction in this package.
For BDNF, there is only BDNF_NTRK2 available. However, BDNF and NGFR is also important in various conditions.
I attached the reference suggesting interaction:
https://pubmed.ncbi.nlm.nih.gov/18382462/ (p75NTR is NGFR, check this link: https://www.ncbi.nlm.nih.gov/gene/18053)
https://pubmed.ncbi.nlm.nih.gov/3

[2021-08-31 15:46] Tomer9w opened #280 "Add axis text colors in netVisual_bubble function"
Hi there!
Saw this below fig, and wondered how to can I differentiate betewen source and target axis label by color.
For both Y-axis and X-axis..

My current netVisual_bubble code:
[code]

Would appreciate your help!
Thanks
![image](https://user-images.githubusercontent.com/76811813/131534114-23246776-6c93-4c56-b960-2ca311101b30.png)

[2021-09-01 04:16] deb0612 opened #281 "Error in genes.de[[i]] : subscript out of bounds"
Dear sir,
When I use
cellchat <- identifyOverExpressedGenes(cellchat),   I got the following error.
Error in genes.de[[i]] : subscript out of bounds

Any idea?

[2021-09-03 03:24] hahia opened #282 "plotGeneExpression add legend"

[2021-09-03 07:10] hahia opened #283 "netVisual_bubble error"
Hello, when I use netVisual_bubble, there have an error
![image](https://user-images.githubusercontent.com/49113803/131965119-2a75befe-54d9-42f2-9182-7b2cebd4699f.png)

[2021-09-05 02:45] qiuli848 commented on #167
The fix above work for me, too. Also note that the fixed file ("CellChat_issue167_netClusteringFix.txt") has two occurrences of i1 that should be i + 1.

[2021-09-06 11:29] charlesgwellem opened #284 "All the runs produced an error:"
Hi. Please what could be the reason why I get the error with the following code:

`selectK(cellchat, pattern = "outgoing")`

[code]

[2021-09-09 07:44] GouQiao opened #285 "No significant signaling interactions are inferred based on the input!"
Hi Jin,

I want to analyze TGF-beta signaling, but I got :No significant signaling interactions are inferred based on the input!
Do you know how to solve this problem?(TGF-beta signaling should be exists...)

Best.
Qiao

[2021-09-10 05:46] sqjin commented on #285
@GouQiao You can try to change the method for computing average expression per cell group. e.g.,
`cellchat <- computeCommunProb(cellchat,type = "truncatedMean", trim = 0.1)`

[2021-09-10 05:48] sqjin commented on #284
@charlesgwellem Sorry, I have no idea. You can run the source codes to examine the error

[2021-09-10 05:49] sqjin commented on #283
@hahia If you can share me your object, I can run the source codes to figure out the reason

[2021-09-10 05:51] sqjin commented on #282
@hahia The order of the violin plot is based on the factor order in the 'split.by' variable. I will take a look to see how to add one.

[2021-09-10 05:53] sqjin commented on #281
@deb0612 Can you run the source codes to figure out the reason?  Can you show me the data and the cell group information when running this function?

[2021-09-10 05:54] sqjin commented on #280
@Tomer9w The current function does not support such function. we use the 'rightarrow' to indicate the sources and targets on the axis.

[2021-09-10 05:58] sqjin commented on #279
@JiaruiMi Thanks for pointing it out. I will add this pair in the next update. Have your checked our tutorial? You can also easily add it in your local.

[2021-09-10 09:15] ccruizm opened #286 "Error when using netVisual_embeddingZoomIn with merged object"
Good day!

I am having problems magnifying the view of each pathway group using `netVisual_embeddingZoomIn`. When running `netVisual_embeddingZoomIn(cellchat, type = "structural")` i get the error below:
[code]
I can visualize the clustered pathways using `netVisual_embeddingPairwise`. Do not understand why I am having that error.

Thanks in advance!

[2021-09-11 14:42] ling123-runsuccess commented on #245
hi! I have the same error (Error in if (sum(P1) == 0) { : missing value where TRUE/FALSE needed) when running computeCommunProb(cellchat,raw.use = TRUE), but I converted a Seurat object into cellchat，I don't know how to fix it, can you help me?

[2021-09-13 02:36] GouQiao commented on #285
Thank you. If I want to avoid the cell number impact, is this following useful?
cellchat <- computeCommunProb(cellchat,type =  "truncatedMean", trim = 0.05, population.size = TRUE)

[2021-09-13 09:58] lucyu2668 opened #287 "Question on calculation of interaction probability"
Hi! Thanks for your innovation, still I have a question on the calculation of interaction probability, as an unexplainable phenomena for me.

I am doing a case-control analysis currently, and found an interesting pathway-VISFATIN.
<img width="771" alt="截屏2021-09-13 17 37 14" src="https://user-images.githubusercontent.com/90604946/133061742-987bda74-291f-4d1f-bb8c-2d0a4edbdebf.png">

The blue bar h

[2021-09-13 20:23] YitengDang commented on #174
This has been solved in one of the updates of CellChat somewhere between 1.0.0 and 1.1.3. After pulling the latest version from GitHub (1.1.3), I was able to run the functional clustering part.

[2021-09-14 09:38] GouQiao opened #288 "Error in .Call.graphics(C_palette, value) : invalid graphics state >"
Hi Sqjin,

I am doing comparison of multiple cellchat dataset.
For each, i finished running to cellchat <- netAnalysis_computeCentrality(cellchat, slot.name = "netP").
And I did as following:
object.list <- list(normal = cell.chat.normal, tumor = cell.chat.tumor)
cellchat <- mergeCellChat(object.list, add.names = names(object.list))

gg1 <- compareInteractions(cellchat, show.legend = F, group = c(

[2021-09-16 05:53] TYU1201 commented on #38
Dear sqjin,

Do you think it is feasible to replace the line name of the RDS file (rat gene name) with the homologous gene name of the mouse? This seems a lot easier than the above method.

Thank you very much
tydong

[2021-09-16 05:54] TYU1201 commented on #38
Dear sqjin,

Do you think it is feasible to replace the line name of the RDS file (rat gene name) with the homologous gene name of the mouse? This seems a lot easier than the above method.

Thank you very much
ty

[2021-09-18 15:31] gAleryani opened #289 "Analysis question - Differential analysis of two very similar subsets within the same dataset."
Hi @sqjin

Amazing tool and suite of ways to visualize data! Thank you.

You have some great vignettes on how to differentially compare the same cell type from two different datasets, but I was wondering on what you think is the best approach to do the same but from within the same dataset?

This is a dataset of +50 clusters, making it a bit challenging to just show everything. Showing simply the

[2021-09-19 15:52] charlesgwellem opened #290 "Why are some labels on the river plot black?"
Thank you for this great package. Please is there a reason why some labels on the river plots are in black? I understand that the coloured ones reflect the conditions being compared. But I do not understand why some of the labels are in black

![grafik](https://user-images.githubusercontent.com/10155881/133934016-317683af-ddd7-4f85-a02e-134c021bd260.png)

[2021-09-20 05:25] BradBalderson commented on #235
@sqjin I am also receiving the same error. I can plot when I make the figure size very big, but then the area covered by the actual chord plot is very small. Depicted below is the minimum plotting size I can get where it doesn't give me the error.

Some advice to get this working would be great appreciated :)

![cellchat_GRN_TNFRSF1A_chord](https://user-images.githubusercontent.com/24308582/133959

[2021-09-20 13:17] YitengDang opened #291 "Inferred interactions do not seem to match with ligand/receptor expression levels"
I'm using CellChat to do a comparative analysis of two samples. I first ran a separate analysis for each sample to infer the communication probabilities and network and then merged them just like in the provided tutorial. Now it seems to me that the inferred results do not match well with the expression of ligands and receptors.

Basically, CellChat is detecting a significantly higher activity of

[2021-09-20 20:36] stonejk opened #292 "Changing cell dimensions on netVisual_bubble?"
Hey, great package, it's been very helpful!

I'm comparing the interactions in different datasets. I've saved the netVisual_bubble plots for each data set and intend to arrange them vertically, but keep having issues with the graphs being different sizes. Number of cell types are the same in both sets. Is there a way to manually alter either the height or width of the "cells" within the bubble plo

[2021-09-20 20:44] apdavid opened #293 "Custom Colors"
is there a way to change the colors that are assigned to the cell types?

We have a color palette that we are using from the UMAP, and we tried using the color palette that you used in your package, but for some clusters there isn't enough contrast, so we would like to modify the default colors of CellChat if that is possible.

[2021-09-21 18:04] Dexiao211 opened #294 "Plot order in netAnalysis_signalingRole_heatmap function?"
Hi sqjin. Great package, it's been very helpful! Can you tell me how to set an order of clusters in netAnalysis_signalingRole_heatmap function? Thanks.
Dexiao

[2021-09-21 20:47] happylearning423 commented on #294
@Dexiao211 Currently this function does not allow custom setting of the order. You can modify the code by yourself. You can change the order of the data matrix `mat` for plotting in `ht1 = Heatmap(mat`

[2021-09-21 20:48] happylearning423 commented on #293
@apdavid Yes, I think you can set the colors when plotting. Please check the parameter of each function.

[2021-09-21 20:50] happylearning423 commented on #292
@stonejk Have you considered generating the bubble plot using the merged CellChat object instead of doing it separately?

[2021-09-21 20:57] happylearning423 commented on #291
@YitengDang You may check the tutorial on `Part III: Identify the upgulated and down-regulated signaling ligand-receptor pairs` to identify the other altered signaling.

CellChat is concluding that there is significantly more Wnt activity in the right-hand sample. Which function did you use for this conclusion?

[2021-09-21 20:58] sqjin commented on #291
@YitengDang You may check the tutorial on Part III: Identify the upgulated and down-regulated signaling ligand-receptor pairs to identify the other altered signaling.

CellChat is concluding that there is significantly more Wnt activity in the right-hand sample. Which function did you use for this conclusion?

[2021-09-21 20:59] sqjin commented on #290
@charlesgwellem Black means they have similar information flow in both conditions, implying that these might be the conserved signaling across conditions

[2021-09-21 21:04] sqjin commented on #289
@gAleryani You can try to subset your dataset and create two datasets beforing running CellChat.

[2021-09-21 21:04] sqjin commented on #293
@apdavid Yes, I think you can set the colors when plotting. Please check the parameter of each function.

[2021-09-21 21:11] sqjin commented on #277
@Manikgarg Hope everything is going well with you. I usually only use `net.up` and `net.down1`.

When we set datasets = "WH", then we will return the signaling network inferred based on the data from `WH`. However, when we set datasets = "IFNL", we will return the signaling network inferred based on the data from `IFNL`.  Thus I think it might be better to define it by USER.

[2021-09-21 21:13] sqjin commented on #288
@GouQiao This is unexpected. Is there any issue if you simply run `compareInteractions(cellchat)`

[2021-09-21 21:21] sqjin commented on #287
@lucyu2668 The DEG analysis in the initial step of CellChat is identifying the altered signaling genes across different cell types instead of conditions. You can check the tutorial on `Part III: Identify the upgulated and down-regulated signaling ligand-receptor pairs`.  Before further experiment, it will be necessary to examine the expression patterns.

[2021-09-21 21:22] sqjin commented on #286
@ccruizm Can you try to run the source codes of `netVisual_embeddingZoomIn` to figure out the reason. I have no idea except that I can replicate your error.

[2021-09-21 22:03] sqjin commented on #275
@ccruizm You can set population.size = FALSE. If you have very few cells (e.g., less than 10), you may can manually filter out all the interactions related with this population.

When setting `population.size = TRUE`, abundant cell types tend to have strong interactions than rare cells.

[2021-09-22 17:01] YitengDang commented on #291
@sqjin Thanks for the reply. I'm almost literally running the tutorial script on my own data, and this is the output.

I checked Part III, and this is actually useful for making a point. For instance, in this plot
![Screenshot 2021-09-22 at 18 50 54](https://user-images.githubusercontent.com/21265783/134387327-50672802-f393-4c9a-b517-6d10ccba26cb.png)
you see an enrichment in the interaction "Wnt4

[2021-09-23 16:42] stonejk commented on #292
Yes, thank you @happylearning423, that's what I eventually ended up doing, pulling the data out of the CellChat object and making the plot separately. I was just hoping for an internal solution.

[2021-09-23 18:45] Chestnusaur commented on #143
I was having the same problem earlier the day. Then I realized that I didn't ran full analysis for each dataset before merging them together. When I merge the objects after I ran full analysis for each dataset, everything works out

[2021-09-28 18:13] pngimbwa opened #295 "Error in h(simpleError(msg, call)) : error in evaluating the argument 'x' in selecting a method for function 'stack': subscript out of bounds"
Hi,

I'm having some issues running ENMevaluate.

[code]

I get the following error:
[code]

[2021-09-30 03:29] science070308 opened #296 ""Inference and analysis of cell-cell communication using CellChat" tutorial – Error messages"
I am currently working my way through the “Inference and analysis of cell-cell communication using CellChat” tutorial (https://htmlpreview.github.io/?https://github.com/sqjin/CellChat/blob/master/tutorial/CellChat-vignette.html) to analyze/visualize the cell-cell communication networks from scRNA-seq data.  The CellChat input file is from a Seurat object.

I am encountering some errors in my R cod

[2021-10-03 15:56] HiRuser2021 commented on #296
I have the same problem and cannot move forwared.  Has the command been updated since April 26, when the following website was uploaded: https://htmlpreview.github.io/?https://github.com/sqjin/CellChat/blob/master/tutorial/CellChat-vignette.html ?

[2021-10-04 03:57] snow55 commented on #230
I tried to change the color for each cell type by `color.use` and the color has been changed but is not consistent with cell type. How can I make it? Thanks.

[2021-10-04 07:57] snow55 commented on #230
I have settled this question when I scanned your source code of `netAnalysis_signalingRole_scatter` function. It needs to add a line to revise the type of `labels` variate (from `chr` to `factor`). When I added this line, it works. `df$labels = factor(df$labels,levels = levels(object@idents))`.

[2021-10-05 00:09] smk5g5 opened #297 "CellChat LR database questions"
Hi,

I was looking at the contents of cellchat ligand receptor data rds. It was my understanding is that ligand name and gene symbol info should be the same in cellchat_data$interaction$ligand and cellchat_data$geneInfo$Symbol what to do when it is not?

e.g :

[code]

I was trying to look at the expression of ligands in my bulk RNAseq datasets thus I pulled the ligand receptor rds object in cellc

[2021-10-05 09:42] RosaKCL opened #298 "Allow to control netVisual output width"
Currently netVisual function allows to configure the height of the output but not the width, causing long cell type names to be cropped.

[2021-10-07 02:33] gouxiaojuan commented on #237
Hello, I have a similar problem. Have you solved it? How did you solve it? thank you

[2021-10-07 19:06] williamhsy opened #299 "netVisual_chord_gene error"
Hi,

Thanks for developing such a wonderful tool! I was trying to plot specific sources and targets as well as their interactions using netVisual_chord_gene:
`netVisual_chord_gene(mouse.cellchat, net = data.frame(source= c("Proximal", "Macrophages"), target = c("Vascular", "T cells"), interaction_name = c("VEGFA_VEGFR1", "CXCL16_CXCR6")), slot.name = "net")`

however, it failed with:
`Error in eva

[2021-10-07 23:21] LucaTucciarone opened #300 "Error in if (sum(P1) == 0) {: missing value where TRUE/FALSE needed"
Hello!

I can run cell-chat without any issue from a scRNAseq Seurat object but I'm finding  problems with a ScanPy multiomics (rna+atacseq) object:
This is how I load the dataset:
[code]
Then I create the cellchat object:
[code]
Load the L/R database:
[code]
Add the cell info into the meta slot
[code]
Pre-process the expression data
[code]
[code]
Then here It says there are a lot of NAs
And that

[2021-10-08 07:45] zyy-doctor opened #301 "Error in this step: cellchat <- netClustering(cellchat, type = "functional")"
Hi, I'm simply trying to run the tutorial script in Rstudio, but am running into the following problem.

When running
cellchat <- netEmbedding(cellchat, type = "functional")
I get the following message:
Manifold learning of the signaling networks for datasets 1 2
C:\Users\zyy13\AppData\Local\R-MINI~1\envs\R-RETI~1\lib\site-packages\umap\umap_.py:126: UserWarning: A few of your vertices were discon

[2021-10-08 07:54] zyy-doctor commented on #174
Hello, actually I have the same questions and errors as yours, but the version of my CellChat is 1.1.3. So I wonder to know which update do you think is the key to the question. Thank you so much!

[2021-10-08 09:06] zh-zhang1984 opened #302 "Error in data1[i, ] : subscript out of bounds"
I am enccounting an error in the following code:
[code]
Then I decompose the function and found the rowname of Y is NULL:

[code]

Is there any hints for this bug?

[2021-10-08 09:59] zh-zhang1984 commented on #302
this is duplicated post, sorry for the mistake.

[2021-10-08 09:59] #302 closed

[2021-10-09 01:51] sqjin commented on #297
@smk5g5 These are complex and thus contain multiple genes. You can find the associated genes for one complex in `cellchat_data$complex`.  You can also access it via

    complex <- object@DB$complex
    geneInfo <- object@DB$geneInfo
  geneL <- unique(pairLR$ligand)
  geneL <- extractGeneSubset(geneL, complex, geneInfo)

[2021-10-09 01:53] sqjin commented on #298
@roskcl If you use the 'circle' plot, the width should be the same as the height. However, if you use the 'hierarchy' plot, you can try to increase the width of the PDF file when you save it in your local computer.

[2021-10-09 01:59] sqjin commented on #299
@williamhsy It seems that there is a bug here. Can you also add one column named "prob" in your data.frame as input?  CellChat will only keep interactions with prob > 0.

[2021-10-09 03:08] gouxiaojuan opened #303 "cellchat <- computeCommunProb(cellchat) Error in data.use[RsubunitsV, ] : subscript out of bounds bulkRNAseq"
Thank you very much for providing cellchat. Below are my codes and files. Could you please help me find out where the problem is? I have been checking for several days and browsing all the comments about bulkRNAseq in the question and have not been able to find out what the problem is, I would appreciate your reply

library(CellChat)
library(patchwork)
options(stringsAsFactors = FALSE)
sam_a1 = re

[2021-10-09 03:09] gouxiaojuan commented on #303
[E100018798_L01_12_clean.count.txt](https://github.com/sqjin/CellChat/files/7314895/E100018798_L01_12_clean.count.txt)

[2021-10-09 03:51] gouxiaojuan commented on #303
I'll give you cellchat as well
[gxj.rds.txt](https://github.com/sqjin/CellChat/files/7314926/gxj.rds.txt)
[gxj.rds.txt](https://github.com/sqjin/CellChat/files/7314927/gxj.rds.txt)

[2021-10-09 03:51] gouxiaojuan commented on #303
I'll give you cellchat as well
[gxj.rds.txt](https://github.com/sqjin/CellChat/files/7314928/gxj.rds.txt)

[2021-10-12 03:27] #232 closed

[2021-10-13 06:32] 08starw commented on #230
@snow55  May I ask where df$labels = factor(df$labels,levels = levels(object@idents)) should be added？

[2021-10-15 08:03] alhadjil opened #304 "Combined/Integrated Seurat object and CellChat"
Hi there,

Thank for this amazing package!

I have combined/integrated different conditions (Control, Stimulated) into one integrated Seurat object as recommended by the creators. https://satijalab.org/seurat/articles/integration_introduction.html

When I run CellChat with the combined Seurat object, however, I probably get cell-cell communication from all conditions, which biologically is not cor

[2021-10-15 14:13] hahia opened #305 "About netVisual_bubble"
Hi, This is an amazing tool.
I have a question
eg. I have a cell group A and cell group B, I want to compare the ligand-receptor pair (A, B is the source). How can I use netVisual_bubble to plot the results when A and B have different names.

[2021-10-18 06:28] Tycooner commented on #187
same problem, please help!!!

[2021-10-18 11:17] Tomer9w opened #307 "Error in data.use[RsubunitsV, ] : subscript out of bounds error"
Hi!
Thanks for this awesome package
I've seen this question asked before, but unfortunately, neither of recommendations helped me overcome this error.

I used RNA-seq normalzied counts as input for cellchat object. Here is the code I used:

`cellchat <- createCellChat(object = as.matrix(input.DLN), meta = coldata, group.by = "Type")
cellchat <- setIdent(cellchat, ident.use = "Type")
groupSize <- a

[2021-10-18 18:04] rachel662 opened #308 "a question about data formats"
Hi there
I would like to use 2 available scRNA-seq datasets and use cellchat to infer cell-cell communication between cell types
for one of the publically available datasets I am only interested in 2 of the clusters they identified
I have a merged seurat object of the dataset and seurat objects of each dataset separately too

is it possible to run cellchat with each of the two clusters of the data

[2021-10-18 23:50] sqjin commented on #308
@rachel662 Yes, you can run cellchat seperately on each dataset and then use the mergeCellChat function to perform comparison analysis

[2021-10-19 00:08] sqjin commented on #187
@zpingfeng @Tycooner Can you guys share me your CellChat object for further checking?

[2021-10-19 00:23] sqjin commented on #305
Can you explain more details?

[2021-10-19 00:26] sqjin commented on #304
@alhadjil You should check the Seurat tutorial on how to saperate the integrated object. There is one function called "SplitObject". Then you can run cellchat on each dataset/condition separately.

[2021-10-21 21:34] LucaTucciarone opened #309 "A question about replicates and cell numbers"
Hello!

I have been using cell chat quite a lot this past weeks for my project and I think is great.
I have some doubts on how I am supposed to be using biological replicates of the same experimental point though:
Let's say I have 10 scRNAseq biological replicates for CTR and 8 scRNAseq biological replicates for Disease and I wanna run cell chat: should I need to "pull" the scRNAseq together and r

[2021-10-22 12:42] c-felton opened #310 "data signalling slot of project empty"
Hi,
I'm trying to run CellChat from a data matrix and metadata dataframe. The data matrix was counts which I have normalised using the NormalizeData function, making sure that the data is also log transformed with pseudocount 1.

However, when I inspect the CellChat object I can see that the data.signalling slot is empty. From what I understand the computeCommunProb works off data in this slot.

A

[2021-10-22 12:52] #310 closed, assigned to nobody

[2021-10-23 23:26] jopeptid opened #311 "netAnalysis_contribution not respecting subsetting"
I run the tutorial dataset and I want to only calculate certain cell type interactions. For example:

sender = c(1,2,3,4)
receiver = c(5,6,8)
cellchat <- aggregateNet(cellchat, sources.use = sender, targets.use = receiver)

I get some empty chord plots when I run:

pathways.show <- c("CXCL")
groupSize <- as.numeric(table(cellchat@idents))
netVisual_individual(cellchat, signaling = pathways.show, l

[2021-10-25 14:19] rachel662 opened #312 "Error in UseMethod("select") :"
Hi there,
sorry to ask another question but when trying to do the Preprocessing the expression data for cell-cell communication analysis step in the tutorial with my data I get this error

Error in UseMethod("select") :
  no applicable method for 'select' applied to an object of class "NULL"

would anyone be able to help me with solving this error? Thanks so much in advance

Cheers
Rachel

[2021-10-25 19:18] molliec1177 opened #313 "Error in liftCellChat function"
Hey cellchat team, thanks for the great package! I have analyzed my single cell datasets separately and now am trying to compare two conditions with the merge cell chat features. I am following the directions according to the Comparison analysis of multiple datasets with different cell type compositions vignette. My two objects have the same # of cell identities, and only one identity differs betw

[2021-10-27 12:08] rachel662 opened #314 "Data signalling slot not being filled"
Hi there
The data signalling slot in my cellchat object is not being filled even though I am running
cellchat <- subsetData(cellchat)

there isn't any error i get when running this either

would anyone be able to advise me on how to fix this issue ?

thanks so much in advance

Rachel

[2021-10-30 15:53] sqjin commented on #298
@roskcl The space will be reduced if you set the height of the figure to be larger when saving it in your local computer.

[2021-10-31 07:28] ZJU-paul commented on #301
@sqjin  I have the same error as @zyy-doctor got.

Manifold learning of the signaling networks for datasets 1 2
/Users/apple/Library/r-miniconda/envs/r-reticulate/lib/python3.6/site-packages/umap/umap_.py:126: UserWarning: A few of your vertices were disconnected from the manifold.  This shouldn't cause problems.
Disconnection_distance = 1 has removed 4156 edges.
It has only fully disconnected 2 v

[2021-11-02 10:31] ycao6928 commented on #164
I got the same error.
In my case data 1 has 90 cell types, data 2 has 95 cell types, but together they have 96 cell types, ie, some of the cell types are in data 1 only and some in data 2 only.
I was able to solve this as suggested by funpys:
merged   <- mergeCellChat( _typical merging code_ )
merged  <- liftCellChat(merged , group.new = levels( merged@idents$joint) )

[2021-11-03 14:18] hansong798 opened #315 "compare two group interaction and sigficant pathway"
Hi, thank you for your advanced tool, cellchat team!

I have a question about relative information flow bar plot like below.
When compared two group with running below code, I got the bar plot and result with p value.
`rankNet(cellchat, comparison = c(1, 2),mode = "comparison", stacked = T, color.use=c('#969696','#E2AE33'),
              return.data = T,do.stat = TRUE)`

And from https://github.co

[2021-11-03 16:05] kathy1234WU opened #316 "Losing the interaction mark due to the increase number of cell type in the same sample"
![image](https://user-images.githubusercontent.com/93668791/140096513-f4615605-3498-4630-b9f2-f117217bcd3b.png)
Thanks for sharing such this useful package

I have a single cell data with 8 and 11 cell types.
As shown in the figure, in the 8 types photo, mast cells showed the direction of interaction. But when I added 3 cell types, the line of interaction between mast cell becomes very weak.

I am

[2021-11-04 06:06] sqjin commented on #316
@kathy1234WU I cannot clearly see your second figure. But, yes, the line width is normalized in each network, and you can control the edge width using one parameter. Please check it

[2021-11-04 06:27] sqjin commented on #315
@hansong798 Here is because you have a relative contribution being 1.0.  Please check the parameter `tol = 0.05`.  If the relative change is small, we consider it as no change. Both criteria should be satisfied.

[2021-11-04 06:34] sqjin commented on #164
@ycao6928 Thanks Yue! You can also define `group.new` using any char vector.

[2021-11-04 15:07] raphaela2018 opened #317 "Cannot find some signaling pathways"
Hi!

Thanks for providing this package! It has been working great but I have a problem with finding some signaling pathways from Cellchat database. Out of the many signaling pathways, only a few worked. For example, I could analyze SEMA3 signaling but not SEMA4,5,7. If I try SEMA7, I got this error message.

pathways.show <- c("SEMA7")
netVisual_aggregate(cellchat, signaling = pathways.show, layou

[2021-11-05 08:31] sqjin commented on #317
@raphaela2018 For individual L-R pair, you need to use `netVisual_individual`

[2021-11-05 08:32] sqjin commented on #314
@rachel662 Can you please make sure you use the correct database? mouse or human?

[2021-11-05 08:35] sqjin commented on #313
@molliec1177 You need to use the joint set of the identities group.new = union(levels( cellchatnst3605), levels(cellchatqpp7@idents)). You can also give an order of these identities.

[2021-11-05 08:37] sqjin commented on #312
@rachel662 Have you solved this error? If not, can you show me your input data and cell labels as well as codes?

[2021-11-05 08:40] sqjin commented on #311
@jopeptid If you only focus on certain cell types, you can try `subsetCellChat` function to produce a new object.

[2021-11-05 10:39] sqjin commented on #309
@LucaTucciarone Sorry for the late reply. I would suggest to pull together 10 CTR samples and run CellChat.  At the same time, you can run cellchat on the aggregated 8 disease samples. Lastly, you can perform comparison analysis using the tutorial.

Since CellChat infers the communication probabilities based on the average expression of signaling genes in each cell group. Thus the cell proportion

[2021-11-06 13:11] jopeptid commented on #311
@sqjin Thank you for your reply. In my case I can't do that. I want specifically interrogate the signaling from tissue resident cells to circulating peripheral blood leukocytes which I have combined in one dataset. Only organ to blood signaling should be analyzed not organ-to-organ or blood-to-blood communications. I thought <aggregateNet> will do this. But it seems that downstream analyses like <

[2021-11-06 19:31] raphaela2018 commented on #317
@sqjin
Thanks for your prompt reply. I am still getting the same error with netVisual_individual.

netVisual_individual(cellchat, signaling = "SEMA7", layout = "chord", vertex.size = groupSize)
Cannot find  SEMA7 . Please input a correct name!
Error in ...future.FUN(...future.X_jj, ...) :

Again, this works for some signaling pathways (SEMA3, BMP...) but not SEMA4,5,7 that I could find from http:/

[2021-11-09 21:01] ChintanChhatbar opened #318 "adding fly datbase to cellchat"
Hello Suoqin,
Thanks for the really cool and easy to use tool. Its really awesome. After using it for human and mouse data, i want to use it on fly scRNA-seq data. The problem is that fly genes do not have homologous to mammalian genes. How i can i create a completely new database by using the available interaction data from flybase for example?

[2021-11-11 05:57] sciencepeak commented on #312
I have the same issue. My R version is 4.0.5

my code:
[code]

my error.
[code]

[2021-11-11 18:07] mms100 commented on #129
@sqjin using the 1.1.3 I still facing the same error as @BeyondMyPast228

Error : Error in quantile.default(abs(net), probs = 1 - top) :
missing values and NaN's not allowed if 'na.rm' is FALSE

by specifying the targets and sources in netVisual_diffInteraction

Looking forward to having your helpful feedback.

Thanks!

[2021-11-12 20:35] barixana opened #319 "Heatmap"
Hi, thanks for making such a great package!

Would it be possible to create heatmap like one in the attached picture below?

<img width="440" alt="L-R interactions" src="https://user-images.githubusercontent.com/89866007/141531039-1bfd3d0f-67df-4fc7-97cd-9375a7b656c6.png">
?

[2021-11-12 23:00] sqjin commented on #319
This is easy. There are two ways. One is based on the three-dimensional
communication probability array, and the other is based on the interaction
data frame, which can be obtained by running 'df.net <-
subsetCommunication(cellchat)'. For the first case, you can get a vector
for the total interactions sending from each cell type to the leukocytes
via ***@***.***$prob[ , "leukocytes", ])`. For the

[2021-11-15 03:54] mieko-cc commented on #258
thanks for your suggestion, but I still counter the same error, could you show us how to solve?

[2021-11-15 09:59] dmsalsgh97 opened #320 "Strange Cell labels cannot contain `0`! error"
HI, I used cellChat since last month, using Seurat object.
tutorial's code for converting Seurat object to Cellchat object worked well until last week...

[code]

But, When I re-use the code,  createCellChat function says an error,
[code]

I searched github issue pages and re-installed cellchat but it was not a solution...

In this case, anyone knows the reason for this error??
Thanks,

[2021-11-15 15:28] barixana commented on #319
@sqjin thank you for your quick response.

I'm sorry but I'm still confused how to put all of my groups (5 conditions) in one heatmap (like on the attached picture) rather than making it for each condition separately. Rows should be conditions and columns cell types. Thanks!

[2021-11-16 07:17] zpingfeng commented on #187
Thanks Suoqin!
How do I send the cellchat obj? The file is >26MB. I tried to drag it to here, but was not allowed

[2021-11-16 07:19] zpingfeng commented on #187
str(cellchat)
Formal class 'CellChat' [package "CellChat"] with 14 slots
  ..@ data.raw      : num[0 , 0 ]
  ..@ data          :Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  .. .. ..@ i       : int [1:3310998] 0 2 15 18 19 22 55 56 70 76 ...
  .. .. ..@ p       : int [1:1892] 0 1458 2676 4277 5999 7762 9394 10444 12907 14078 ...
  .. .. ..@ Dim     : int [1:2] 14494 1891
  .. .. ..@ D

[2021-11-16 07:23] zpingfeng commented on #187
the problem start from here for this data set

Error in apply(prob.pathways.sig, 3, sum) :
  'MARGIN' does not match dim(X)

I have several sets of data. Each had problems at different steps.

[2021-11-16 09:42] zpingfeng commented on #187
probably no signal to match?

[2021-11-18 20:22] barix89 opened #321 "population.size issue"
Hi,

I have a big snRNA-seq dataset, and been trying to use cellchat for cell-cell comunication analysis. I'm trying to figure out how 'population.size' parameter functions.

Would you recommend randomly sampling my dataset prior the analysis and setting population.size = FALSE, or just use population.size = TRUE and no random sampling prior analysis?

Thank you!

[2021-11-19 02:50] tongyt1225 opened #322 "sample number issue"
I've been trying to figure out how 'population.size' parameter functions.
because I has tow sample，one sample has only small cells，and I get opposite result: the cluster of small cells have more weight. I can not understand the result. Does it have anything to do with  'population.size'？What's the best way to deal with the sample like me?
![sample](https://user-images.githubusercontent.com/5236757

[2021-11-19 03:18] tongyt1225 opened #323 "fig5(K,L) question"
HI,sqjin,
I want to know whether get the code the combination of picture of fig5(K,L)？
![fig5](https://user-images.githubusercontent.com/52367576/142559053-06f81534-0da8-4ea6-9530-ca5c04b421b8.png)

[2021-11-19 06:53] esroom opened #324 "empty columns occur when using netVisual_bubble"
Thank you for this wonderful tool!

I have a small problem when using **netVisual_bubble**. It works well when I didn't select some targets or sources, but once I selected,  empty columns were not removed. Here is my code

`netVisual_bubble(cellchat,  pairLR.use = myLR,  sources.use = c(2:8), targets.use = c(2:8))`

and the picture
![image](https://user-images.githubusercontent.com/44914876/142576

[2021-11-19 14:35] tongyt1225 opened #325 "error in running netClustering"
Hi, I'm simply trying to run the tutorial script in Rstudio, but am running into the following problem.
packageVersion("CellChat")=‘1.1.3’
When running
cellchat <- netClustering(cellchat, type = "functional"),
I get the error message:
![error](https://user-images.githubusercontent.com/52367576/142639827-0ad66f7b-0450-483d-8037-1598c83086dd.png)
thanks a lot

[2021-11-19 17:50] xinmiaoyan opened #326 "error when run computeCommunProb"
hi, nice tool, but I encountered a problem when running computeCommunProb, the issue is listed below:

`cellchat <- computeCommunProb(cellchat)
Error: MultisessionFuture (future_sapply-1) failed to call grmall() on cluster RichSOCKnode #4 (PID 6869 on localhost ‘localhost’). The reason reported was ‘error writing to connection’. Post-mortem diagnostic: No process exists with this PID, i.e. the loc

[2021-11-21 01:53] sqjin commented on #326
@xinmiaoyan I am sorry I have no idea on this error. Are you working on a cluster instead of desktop/labtop?

[2021-11-21 01:56] sqjin commented on #325
@tongyt1225 There are also some other users reporting this error. Can you share me your CellChat object so that I can debug it? You may can share it with me via google drive/ one drive or BaiduNetDisk or email.

[2021-11-21 01:58] sqjin commented on #324
@esroom Can you also try set `remove.isolate = TRUE`？ It should also work.

[2021-11-21 02:00] sqjin commented on #323
@tongyt1225 CellChat provides functions for plotting both panel k and l.

[2021-11-21 02:02] sqjin commented on #322
@tongyt1225 If one cluster has cells less than 10, I suggest to filter out all interactions related with this cluster. Please check our tutorial and you can find a function called `filterCommunication`

[2021-11-21 02:05] sqjin commented on #321
@bari89 Since CellChat inference is mainly based on the average expression per cell group, whether doing randomly sampling will not significantly affect the result. In most cases, you can use the default setting `population.size = FALSE`.

[2021-11-21 09:22] tongyt1225 commented on #323
Thanks your reply, I get the netAnalysis_dot can plot panel I, and it plot one dataset,but I want to plot tow dataset, so I want to sure it must plot one by one and joining them together，or can plot two at a time?

[2021-11-21 14:57] TM9013 opened #327 "0 cells in cellchat"
Hi!

I'm trying to make a cellchat after making a seurat object using pituitary cells. I'm trying to make a cellchat using the following code.

seurat_ob is my seurat object name.

data.input.all <- seurat_ob@assays$RNA@counts
data.input.all <- normalizeData(data.input.all)
meta.all <- data.frame(labels = seurat_ob@meta.data$celltype, cluster = seurat_ob@meta.data$seurat_clusters, sample = seurat_

[2021-11-22 06:30] sqjin commented on #327
@TM9013 Please check whether there are row names and columns in `data.input `. Also, `meta <- meta.all[cells.use,]]` should be `meta <- meta.all[cells.use,]`

[2021-11-22 13:09] tongyt1225 commented on #325
Thanks, I sent the email to notifications@github.com

[2021-11-22 14:07] tongyt1225 opened #328 "question about rankNet"
HI jin，

Thanks your previous reply. For the error of netClustering function, I sent my raw data to the email(notifications@github.com;cellchat@noreply.github.com;mention@noreply.github.com).

I am so sorry I have one question for asking help, I plot the Information flow by rankNet, there are always several larger values affect the distribution smaller values. And small values accounted for a larg

[2021-11-23 02:50] madmcay opened #329 "How to infer cell-cell communication networks"
Hi, thank you so much for the great tool! I have a question about how to infer cell-cell communication networks.
I wanted to see interactions between EP (source) and OB (target) or EP (source) and FB (target) in my sample and the hierarchy plot showed TGFb signaling network only between EP (source) and OB2 (target) on the right panel.

![image](https://user-images.githubusercontent.com/94879972/14

[2021-11-23 07:41] TM9013 commented on #327
thank you!
When I checked the name of the matrix, it turned out to be wrong.
It was helpful.

[2021-11-24 04:55] esroom commented on #324
Thanks, it works!

[2021-11-24 04:55] #324 closed

[2021-11-26 14:50] Letichat opened #331 "Using CellChat in zebrafish"
Hi, First thanks for the nice tools.

I would like to use CellChat on zebrafish data. I understood that I have to modify the database and replace human gene name by zebrafish name. I have a table with the match between human gene name and zebrafish gene name. Should I just modify the interaction_input_CellChatDB" file ? Which columns have to be modify?  I guess the "ligand" and "receptor" should b

[2021-11-30 04:12] sqjin commented on #331
@Letichat Recently we have built a database for zebrafish and I will update it on github this week.  Any gene names in the four files mentioned in the tutorial should be updated.

[2021-11-30 04:20] sqjin commented on #329
@madmcay This is interesting! The expression pattern indicates that all cell types are likely the targets for the Tgfb2 signaling. Have you figured out the reason?

[2021-11-30 11:23] Letichat commented on #331
Perfect! I will wait for it then. Thanks for your work

[2021-11-30 15:23] madmcay commented on #329
That's what I thought but the result did not show it. I have not figured it out yet. Could you please check my code below and let me know if anything is wrong with the code? Thank you!

data.input <- GetAssayData(Seurat_object, assay = "RNA", slot = "data")
labels <- Idents(Seurat_object)
meta <- data.frame(group = labels, row.names = names(labels))
cellchat <- createCellChat(object = data.input,

[2021-11-30 15:24] Semple-bio opened #332 "Unlisted possible interactions?"
I am working on 2 related datasets, control and treated. Using the same cell types in each, there are some possible interactions the only show up in one of the results, but not in the other, despite the ligand and receprots being somewhat similarly expressed in both cases.
initial runs:
[code]
This was done separately on the the control and on the treatment objects.
[code]
For the interaction betw

[2021-11-30 17:01] madmcay commented on #329
Thank you for your quick response! I tried cellchat <- computeCommunProb(cellchat, type = "truncatedMean", trim = 0.1) and the result did not show any interaction between EP2 and any FB (or OB).
![image](https://user-images.githubusercontent.com/94879972/144091859-66598229-2de0-4d22-bbdd-16444634e064.png)
computeAveExpr(cellchat, features = c("Tgfb1", "Acvr1", "Tgfbr1"), type = "truncatedMean", tr

[2021-12-01 06:43] SeadonXing opened #333 "Possible BUG in the liftCellChat function coupled with rankNet function : different levels result in different P-values"
Hi , I want to joint set of the identities of my two groups by set
`group.new = union(levels( cellchat.group1@idents), levels(cellchat.group2@idents))`

However, I found that these two commands gave totally different P-values while I think it should be the same when calling rankNet function.
`group.new = union( levels(cellchat.group1@idents), levels(cellchat.group2@idents) )`
`group.new = union( l

[2021-12-01 09:26] BatLaB-cell commented on #149
@sqjin Dear sqjin, I think this is an important code you should add to your beautiful vignette/tutorial because it would be broadly used by a lot of cellchat users.

I don't exactly understand when we must use this reordering code in the cellchat process.

Could you clarify please at which step we should use this code?

Just after createCellChat function for instance?

Thank you for your help

[2021-12-01 20:18] aj088 commented on #98
I cannot run identifyOverExpressedGenes function, so I run manually and get error: Error in (function (cl, name, valueClass)  :
  assignment of an object of class “character” is not valid for @‘var.features’ in an object of class “CellChat”; is(value, "list") is not TRUE. Any suggestions on how to deal with this?

[2021-12-01 20:19] aj088 commented on #264
I cannot run identifyOverExpressedGenes function, so I run manually and get error: Error in (function (cl, name, valueClass) :
assignment of an object of class “character” is not valid for @‘var.features’ in an object of class “CellChat”; is(value, "list") is not TRUE. Any suggestions on how to deal with this?

[2021-12-02 13:20] soleilll opened #334 "A quenstion about netVisual_circle()"
Hi, thank you so much for this useful tool!
I have a question about how to convert the circle plot (plotted using 'netVisual_circle' function) to a ggplot layer, so I can assign this layer a value. That way, i can then use ggpubr to put these figures together.

The code looks just like this below：
`netVisual_circle(cellchat.tumor@net$weight, vertex.weight = groupSize, weight.scale = T, label.edge=

[2021-12-02 21:43] s849 opened #335 "CellChat and Visium (spatial transcriptomics)"
Hi,

I have some visium data sets on which I would like to try CellChat. Is it possible for CellChat to do this?

[2021-12-04 05:47] tongyt1225 opened #336 "error in running netClustering"
Hi, I'm simply trying to run the tutorial script in Rstudio, but am running into the following problem.
packageVersion("CellChat")=‘1.1.3’
When running
cellchat <- netClustering(cellchat, type = "functional"),
I get the error message:
![142639827-0ad66f7b-0450-483d-8037-1598c83086dd](https://user-images.githubusercontent.com/52367576/144699078-c24f25c1-762c-49f6-8816-5a218e22b9c9.png)

The error s

[2021-12-04 13:54] yingyonghui commented on #45
Hi all, I also got the same problem like @jv-20 @alicekao1118 . Have you solved the problems?
Many thanks!

[2021-12-05 00:25] sqjin commented on #45
@yingyonghui Are you using the cellchatDB.human?

[2021-12-05 00:32] sqjin commented on #336
@tongyt1225 This is interesting, but I did not encounter such issue on my side. Yes, you can simply set the NaN to be zero.

[2021-12-05 00:40] sqjin commented on #335
@s849 I think you can infer the cell-cell communication using cellchat
based on the gene expression and then can filter out the interactions if
the two interacting cell types are spatially distant. There are several
existing methods can help you to determine whether two cell types are
co-localized. Here is one example study applying CellChat to spatial
transcrimptomics (
https://www.biorxiv.org/co

[2021-12-05 04:07] sqjin commented on #332
@Semple-bio This is interesting. based don your description, it should appear in the first case. Can you check `cellchat@net$prob[, , "TGFB1_TGFBR1_TGFBR2"]`

[2021-12-05 04:14] sqjin commented on #334
@soleilll The circle plot is not produced by ggplot and thus cannot combine it with other plots using your method. Other plots you mentioned are created using ggplot2. When developing this tool, I did not find a good way to generate the circle plot using ggplot2.

[2021-12-05 04:15] sqjin commented on #264
@aj088 I suggest to check your input data including both data matrix and cell labels.

[2021-12-05 08:05] sqjin commented on #149
@BatLaB-cell Please check `updateClusterLabels` to update cell cluster labels without re-running the time-consuming function computeCommunProb.

[2021-12-05 08:35] sqjin commented on #333
@SeadonXing Thanks for pointing it out. I will find time to address it next week.

[2021-12-05 08:37] sqjin commented on #329
@madmcay Can you check the inferred network of this particular L-R pair? cellchat@net$prob[, , "X"] and cellchat@net$pval[, , "X"], where X is the L-R interaction name in CellChat.

[2021-12-05 08:45] yingyonghui commented on #45
My scRNA-seq data are from the C57 mouse, then I used the cellchatDB.mouse.
I checked some genes and it seemed that the official symbols were correct. For example, [H2-Q8](https://www.ncbi.nlm.nih.gov/gene/15019).

[2021-12-05 08:47] sqjin commented on #328
@tongyt1225 I think it is normal. I also found that MIF is always highly activated, which might be due to the fact that it is expressed and released ubiquitously by numerous cell types and tissues.
The very small values of some pathways indicate that they are only secreted or received by very few cell groups, leading to a very sparse network.

[2021-12-06 09:46] Semple-bio commented on #332
`
CellChat.Object.Ctrl@net$prob[, , "TGFB1_TGFBR1_TGFBR2"]
`

||1|2|3|4|5|6|7|8|9|
|-|---|---|---|---|---|---|---|---|---|
|1|0.0028054295341978|0.0111440399724704|0.00317720492723321|0.002081613321244|0.00333839593931224|0.00244693486513855|0.00261726024465915|0.00208155055389784|0.00142738204742785|
|2|0.00867888869450375|0.0338170794951559|0.00982065499497618|0.00644871199965764|0.0103147987749

[2021-12-06 10:33] Josephinedh commented on #22
@1221li Did you figure out the problem with NetAnalysis_ComputeCentrality? I'm experiencing the same issue now.

[2021-12-06 14:53] Semple-bio commented on #332
Ok, I found the reason these interactions are missing from the output above. `thresh=1` still cuts off all possible interactions where pval==1. Yet, this finding raises the question then how is this pval calculated as e.g. from the probabilities, and from the percent of cells expressing these genes I would say the Ctrl sample has even higher chance for this interaction, or at least very similar, y

[2021-12-06 16:03] jkmorrison commented on #331
Joining this thread for updates on the zebrafish database!

[2021-12-07 20:41] madmcay commented on #329
It seems that the interactions between cell types depend on p-value which is less than 0.05. Among L-R pairs in the TGFB signaling, "TGFB1_ACVR1C_TGFBR2" is one of them to show the interaction between EP1 (or 2) and OB2.
If you see below, p-value is 0.03 between EP1 and OB2 and 0.03 between EP2 and OB2. Thus, the interactions were shown in the first hierarchy plot. On the other hand, p-value is 0.

[2021-12-08 12:06] tongyt1225 commented on #336
Thanks your reply. I get

[2021-12-09 05:04] eijynagai commented on #204
Hi,

Thank you so much for developing such a great tool!! I am now comparing the results and thought that having the x- and y-axis fixed to the highest value would be better.

My question is how to do it? I appreciate your advice.

Thank you

[2021-12-09 13:53] Tycooner opened #337 "Can the ligand-receptor analysis be done by cellchat software for cross tissue communication?"
Hello, Miss Jin! I sent you an email before. I have a problem:

I have some cross tissue samples, such as hypothalamus, pituitary, adrenal gland, thyroid gland, gonad and so on. We know that these tissues must communicate across tissues (hypothalamus-pituitary-target gland). I would like to ask Mr. Jin whether we can use cellchat software for ligand receptor communication analysis for these sample